@font-face {
    font-family: 'Boogaloo';
    src: url('fonts/Boogaloo/Boogaloo-Regular-webfont.eot');
    src: url('fonts/Boogaloo/Boogaloo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Boogaloo/Boogaloo-Regular-webfont.woff') format('woff'),
         url('fonts/Boogaloo/Boogaloo-Regular-webfont.ttf') format('truetype'),
         url('fonts/Boogaloo/Boogaloo-Regular-webfont.svg#Boogaloo') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Alba';
    src: url('fonts/Alba/alba___-webfont.eot');
    src: url('fonts/Alba/alba___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alba/alba___-webfont.woff') format('woff'),
         url('fonts/Alba/alba___-webfont.ttf') format('truetype'),
         url('fonts/Alba/alba___-webfont.svg#Alba') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "compass/css3";

$lightblue:#a3caea;
$deepblue:#427b8b;
$darkblue:#1b3a43;

$darkred:#a50026;
$deepred:#bf4e48;
$red:#f46d43;
$softred:#fdae61;
$lightred:#fee08b;
$softyellow:#ffffbf;
$lightgreen:#d9ef8b;
$softgreen:#a6d96a;
$green:#66bd63;
$deepgreen:#1a9850;
$darkgreen:#006837;

$lightgrey:#efefef;
$softgrey:#e3e2e2;
$deepgrey:#888;
$darkgrey:#444;
$fontgrey:#9e9e34;

/* SASS component */

/* clearfix extends (works >IE7 )   ex: .float-container{ @extend %clearfix;}*/
%clearfix:after{
	content:'';
	display:table;
	clear:both;
	zoom:1;
}
/* font sizing */
@mixin rem($value,$base:10){
	font-size: $value + px;
	font-size: $value / $base + rem;
}
/* positionning */
@mixin pos($top, $right, $bottom, $left, $position: absolute) {
    @if    $top != auto { top    : $top }
    @if  $right != auto { right  : $right }
    @if $bottom != auto { bottom : $bottom }
    @if   $left != auto { left   : $left }
    position : $position;
}
/* media query */
@mixin mq($size) {
    @if $size == small {
        @media (max-width: 48em) { @content; }
    }
    @if $size == medium {
        @media (max-width: 58em) { @content; }
    }
    @if $size == large {
        @media (min-width: 68em) { @content; }
    }
    @if $size == retina {
      @media  
        only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min-resolution: 124.8dpi),
        only screen and (min-resolution: 1.3dppx) { 
          @content;                 
        }
    }
}


html {	
	font-size:62.5%;
	background-color: $darkblue;
	
}
body{
	/*The Helvetica/Arial-based sans serif */  
	//font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.mainContainer {
	background-color:$deepblue;
	padding-bottom:200px;
}

.container-fluid { padding-right:0; padding-left:0;}
.container { position:relative;}

.navbar {
	background-color:$lightblue;
	font-family: 'Boogaloo';
	padding:0 5%;
	@include box-shadow(0 10px 15px rgba(0,0,0,0.1));

	.weSport, 
	.nav {
		li {
			a {
			@include rem(28);
			color:$deepblue;
			line-height: 150%;
			padding:0 30px;
			margin:5px 0;
			@include text-shadow(0 0 0 #fff);
			}

			a.currentPage, a.currentPage:link, a.currentPage:hover, a.currentPage:visited, a.currentPage:active {
			background:$darkblue;
			color:$lightblue;
			@include border-radius(5px);			
			}
		}

	}

	.weSport{
		float:left;
		color:$darkblue;
		margin:5px 50px 0 0;
		@include rem(28);
		padding:0 30px;
		line-height: 150%;
		i{font-style: normal; color:#0d83af}
		img{width:30px;}
	}

	

	.nav.pull-right { 
		
		.nav-avatar { position:relative; height:50px;}
		form { display:none;}

		li.dropdown {
			ul li { }
			ul li a { @include rem(18); margin:0; padding:20px 15px;}
			ul li a:hover { color: #FFF}
			li.divider { margin:0; border-bottom: 1px solid #DDD;}
			a.dropdown-toggle { padding:0;}
			b.caret { vertical-align: middle; border-top:10px solid $darkblue; border-right:10px solid transparent; border-left:10px solid transparent;}
		}
	}

	.mobileMenu{
		display:none;
		float:left;
		li.dropdown{
			a.dropdown-toggle{				
				.caret { margin-top:18px;}
			}
		}
		li{
			ul{
				li {
					text-align: center;
					a{ 
						@include rem(26);
						margin:0;
						padding:10px 0;

						&:hover{
							color:#FFF;
						}
					}					
				}
				li.divider{
					margin:0;
					border-bottom:1px solid #DDD;
				}				
			}		
		}

	}

}

.fresque {
	width:100%;
	height:30px;
	background-color:white;
	background-image:url(../img/fresque.jpg);
	background-repeat: repeat-y;
	background-size:100% 1px;
}
.fresque-mini{
	height:10px;
}
.top-banner {
	width:100%;
	padding:5px 0;
	background-color:$darkblue;
	
	.void{		
		width:100%;
		height:30px;
	}
}

.ws-icon {
	color:black;
	display: inline-block;
	vertical-align: middle;
}
.ws-icon-small{
	@include rem(30);
}
.ws-icon-large{
	@include rem(70);
}
.ws-icon-small.ws-icon-halo{
	padding:5px;
}
.ws-icon-large.ws-icon-halo{
	padding:10px;
}
.ws-icon-halo{
	background-color:white;
	@include border-radius(100px);
}
/*
======= ALERTS
*/
.flash {
	text-align:center;
}
.alert {	
	display: inline-block;
	margin:0 5px 10px 5px;
	padding:15px 25px;
	@include rem(18);
	background-color: $lightgrey;
	color:darken($softgrey,10%);
	text-align: center;		
	@include border-radius(15px);
	border-bottom:5px solid #FFF;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);

	p { margin:0;
		
	}
	.close {
			display: inline;
			position:static;
			float:none;
		}
}
.alert-success {
	background-color: $softgreen;
	color:$deepgreen;
	border-color:lighten($deepred,10%);
	border-bottom-color: $deepgreen;
}
.alert-error,.alert-danger{
	background-color: $deepred;
	color:darken($darkred,10%);
	border-color:lighten($darkred,10%);
	border-bottom-color: darken($darkred,10%);
}
.alert-info {	
	background-color: $lightred;
	color:darken($lightred,30%);
	border-color:lighten($lightred,10%);
	border-bottom-color: darken($lightred,30%);
}
.alert-warning {	
	background-color: $softred;
	color:$deepred;
	border-color:lighten($softred,10%);
	border-bottom-color: $deepred;
}

/* Tooltip */
.tooltip{
	@include rem(12);
}


#formSearch{
	
	width:100%;
	margin:0 auto;
	margin-top:40px;

	.cityRounded {
		display: block;
		width:50%; 
		margin:0 25%;
		padding:10px 15px 10px 40px;
		background-color:$darkblue;
		@include border-radius(200px);
		@include box-shadow(0 0 0 20px lighten($deepblue,3%));
		border:1px solid #FFF;		

		.cityInputs {

			position:relative;
			float:left;
			width:80%;
			margin:0;
			margin-top:5px;
			padding:0 30px;

			.containerExtend {				
				position:absolute;
				top:50%;
				left:80%;				
				width:20%; 
				overflow:hidden;				
				#extend { height: 100%; width: 150%; @include rem(18); font-family:'Alba'; color:#FFF; line-height: 100%; border:0; vertical-align:middle;  background:transparent; -webkit-appearance: none; -moz-appearance: window; }
				#extend option { background-color:$darkblue; @include rem(14); padding:10px; font-weight: bold;}
			}
			.containerCityName { 
				float:left; width:80%;
				#cityName { width:100%; height:60px; margin:0; padding:0; @include rem(45); line-height:100%; border:0; background-color:transparent; }
				.twitter-typeahead {width:100%;}
				.twitter-typeahead > input { height: 100%; width:100%;}
				.twitter-typeahead > input { @include rem(45); background:transparent; font-family:'Alba',Helvetica,Arial,sans-serif; outline:0; }
				.twitter-typeahead > #cityName {color:white;}
				.twitter-typeahead .tt-hint { @include rem(45); color:#DDD; color:rgba(255,255,255,0.5); margin-left:-6px; margin-bottom:0;}
			}
		}

		.cityAriane {
			float:left;			
			width:74%;
			margin:0 3%;
			padding-top:5px;
			color:#FFF;					
			border-top:2px solid #FFF;
		}

		.citySubmit { 
			float:right ; 					
			background-color:$lightblue;
			border:12px solid $deepblue; 
			border-radius: 100px;
			padding:15px;
			@include transition(0.2s ease);

			.ws-icon-loupe { 
				color:#FFF; 
				@include rem(55);
			}
			.ws-icon-loupe:hover{
										
			}

			&:hover {
				@include rotate(360deg);
			}
		}
		
	}

	.sportCheckboxs {
		width:100%;
		margin:40px 0 10px 0;
		@extend %clearfix;

		.sportChoice {
			float: left;
			position:relative;
			margin:0 6px 2px 6px;
			input { 
				z-index:2; 
				position:absolute; 
				left:30%; 
				top:30%; 
				visibility: hidden;
			 }
			label { 
				z-index:1; 
				position:relative; 
				left:0; 
				top:0; 
				margin-top:0;				
				background-color: #FFF; 
				border:10px solid #FFF; 
				@include border-radius(100px);
				@include transition(0.3s ease);
			}
			label span {
				@include rem(35); 
				margin:2px;
				@include transition(0.3s ease);
			}

			label:hover {
				margin-top:-15%;
				border-color:$lightblue;
				@include rotate(360deg);
				span.ws-icon{
					@include rem(60);
				}
			}
			input:checked ~ label {
				margin-top:-15%;
				border-color:$darkblue;
				@include rotate(360deg);
				span.ws-icon{
					@include rem(60);
				}
			}
		}
	}

	.sportSelect {
		display: none;
		width:100%;
		label{
			text-align:center;
			color:$darkblue;
			font-weight: bold;
			@include rem(20);
		}
	}

}

.calendar {	
	background-image:url(../img/fresque.jpg);
	background-repeat: repeat-y;
	background-size:100% 100%;
	position:relative;
	@extend %clearfix;
	.calendar-header {
		background-color:$darkblue;
		width:100%;
		height:25px;
		position:relative;
		
		.calendar-loader{
			width:100%;
			text-align: center;
			
			span.text{
				display: none;
				color:#FFF;
				@include rem(10);
			}
		}


		.fresque{
			position:absolute;
			bottom:0px;
			height:10px;
			width:100%;
			display: none;
		}
	}


	.calendar-nav{

		.colomn-nav {
			width:5%;
		}
		.colomn-prev{
			background-color: $deepred;
			a.calendar-nav-prev{
				width: 100%;
				float:right;
				img{
					width:100%;
				}
			}			
		}
		.colomn-next{
			background-color: $deepgreen;
			a.calendar-nav-next{
				float:left;
				width: 100%;
				margin-left:-2px;
				img{
					width: 100%;
				}
			}
		}

		.calendar-content{			
			width:100%;
			height:100%;
			position:relative;
			overflow:hidden;
			@extend %clearfix;

			 .events-week { 
			 	position: absolute; 
			 	top:0; 
			 	left:0; 
			 	width:100%;
			 	height:100%;
			 	border:0;

			 	.colomn-past{
			 		background-color:#AAA;
			 		@include box-shadow(inset 0 0 0 30px #999);
			 		color:#888;

			 		.colomn-date{
			 			position:relative;
			 			background-color: #999;

			 			&:after{
			 				content:'PAST';
			 				background-color: #999;
			 				color:#AAA;
			 				font-family: 'Arial black',Arial;
			 				@include rem(60);
			 				position:absolute;
			 				top:120%;
			 				width:100%;
			 				height:100%;
			 				padding-top:30px;
			 				display: block;
			 				font-weight: bold;
			 				@include text-shadow(0 0 0 #000);
			 			}
			 		}

			 	}
			 }
		}
	}


	.calendar-footer {
		background:$darkblue;
		width:100%;
		height:50px;
		border-bottom:10px solid lighten($darkblue,10%);
	}

	.colomn-date {
		width: 100%;
		padding:15px 0;
		text-align: center;
		@include text-shadow(0 0 5px rgba(0,0,0,0.5));

		a {
			color:white;
		}
		strong {
			text-transform: uppercase;
				@include rem(20);
		}
		i {
			font-style:normal;
		}

	}

	table {
		
		$perCent:3%;		
		table-layout: fixed;
		width:100%;
		min-height:1000px;

		tr {height:100%; min-height:1000px;}

		td { vertical-align: top;  }
		td.colomn-1 { background-color: $red; @include box-shadow(inset 0 0 0 30px darken($red,$perCent));}
		td.colomn-2 { background-color: $softred; @include box-shadow(inset 0 0 0 30px darken($softred,$perCent));}
		td.colomn-3 { background-color: $lightred; @include box-shadow(inset 0 0 0 30px darken($lightred,$perCent));}
		td.colomn-4 { background-color: $softyellow; @include box-shadow(inset 0 0 0 30px darken($softyellow,$perCent));}
		td.colomn-5 { background-color: $lightgreen; @include box-shadow(inset 0 0 0 30px darken($lightgreen,$perCent));}
		td.colomn-6 { background-color: $softgreen; @include box-shadow(inset 0 0 0 30px darken($softgreen,$perCent));}
		td.colomn-7 { background-color: $green; @include box-shadow(inset 0 0 0 30px darken($green,$perCent));}		

		td.colomn-1 .colomn-date { background-color: darken($red,$perCent);}
		td.colomn-2 .colomn-date { background-color: darken($softred,$perCent);}
		td.colomn-3 .colomn-date { background-color: darken($lightred,$perCent);}
		td.colomn-4 .colomn-date { background-color: darken($softyellow,$perCent);}
		td.colomn-5 .colomn-date { background-color: darken($lightgreen,$perCent);}
		td.colomn-6 .colomn-date { background-color: darken($softgreen,$perCent);}
		td.colomn-7 .colomn-date { background-color: darken($green,$perCent);}		

		td.colomn-last {		
			a img {margin-left:-5px;}
		}
		td.colomn-first {
			a img {margin-right:-5px;}
		}


		.events {
			width:96%;
			margin:5px auto;
			padding:10px;
			min-height:100px;
			background-color:#FFF;
			border:2px solid rgba(0,0,0,0.1);
			border-bottom:4px solid rgba(0,0,0,0.3);
			@include border-radius(20px);

			.events-link:hover{
				.events-content{
					.events-title{
						color:$darkblue;
					}
				}
			}

			.events-time {
				font-weight:bold;
				@include rem(18);
				color:#d0d0d0;				

				.label-confirmed { @include rem(10);}
				.label-participe { @include border-radius(20px);}
			}

			.events-content{
				.events-title{
					position:relative;
					float:left;
					color:$deepblue;
					@include rem(15);
					font-weight: bold;
					margin:5px 0 0 0;										
				}
				.ws-sport-icon { 
					float:left;
					margin-right:5px;
					margin-top:-5px;
					span {
						@include rem(35); color:#000; 
					}
				}
			}
		}

	}
}

.white-sheet {
	background-color:#FFF;
	position:relative;
	@extend %clearfix;
}
.calendar-return {

	position:absolute;
	top:200px;
	left:-20px;
	width:50px;
	height:50px;
	background-image:url(../img/fresque.jpg);
	background-repeat: repeat-y;
	background-size:100% 1px;
	@include border-left-radius(5px);

	a{
		width:50px;
		height:50px;
		display:block;
	}

	@include transition(all 0.2s ease-in-out);
}
.calendar-return:hover{
	left:-50px;
}

.head-sheet {
	width:100%;	
	background:$lightgrey;
	border-bottom:1px solid darken($lightgrey,10%);
	padding:20px 0;
	text-align: center;
	
}
h1.title-sheet {
	margin:0;
	padding:0;
	font-family:Verdana,sans-serif;
	@include rem(25);
	color:$darkblue;
	text-transform: uppercase;
}



/*
======= CONNEXION
*/
.form-ws {
	margin-top:20px;



	.control-group {
		margin-bottom:10px;

		label {color:#AAA}
		label.control-label { float:left;  width:16%; color:$deepblue; @include rem(14); font-weight: bold; }	
		
		.controls { 
			float:left; 
			width:70%; 
			margin-left:auto; 
			margin-right: auto;
			label.checkbox { width:auto;}	
		}
		input[type=text],input[type=password],input[type=email],select { color:#888; padding-top:7px; padding-bottom:7px; line-height:100%; border:1px solid #CCCCCC; @include border-radius(4px); @include box-shadow(0 0 0 4px #E2E2E2);}
		input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,select:focus{ @include box-shadow(0 0 0 3px $softred); }
		
		input.inline,select.inline { float:left; margin-right:12px;}

		.select2-container { @include border-radius(4px); @include box-shadow(0 0 0 5px #E2E2E2); margin-bottom:10px;}
		.select2-container .select2-search { @include box-shadow(0 0 0 0px #000);}
		.select2-container .select2-focused:focus{ @include box-shadow(0 0 0 0px #000); }
		.select2-container:focus .select2-choice { @include box-shadow(0 0 0 3px $softred);}
		.select2-choice {height:auto; padding:5px 0 5px 10px; border:1px solid #CCC;}
	}

	.control-submit{ 
			text-align: center;
			width:100%;
			margin:0;

			input[type=submit],input[type=button] { 
				display: inline-block;
				float:none;
				padding:10px 12%;	
				margin: 20px 0 20px 0;			 				
			}
			p.help {
				width:100%;
				margin:10px 0;
			}
			p.help-center {
				text-align:center;
			}

		}

}
.form.label-hidden{
	.control-group{
		margin:5px 15%;
		label.control-label { display:none;}
	}
	.control-submit{
		width:100%;
		margin:0;		
	}
}


.btn-ws {
	padding:10px 30px;
	margin:0; 
	color:#FFF; 
	border:0px solid #000; 
	font-weight:bold; 
	@include border-radius(3px); 
	@include box-shadow(1px 1px 0 0 $lightblue,2px 2px 0 0 $lightblue,3px 3px 0 0 $lightblue,4px 4px 0 0 $lightblue); 
	@include rem(18);
	background-color:$deepblue;
}
.btn-ws:hover { color:#EFEFEF;}
.btn-ws:active { margin-top:2px; margin-left:2px;  @include box-shadow(1px 1px 0 0 $lightblue,2px 2px 0 0 $lightblue); }
	
.btn-ws-small{
	padding:5px 15px;
	@include rem(14);
}	
.btn-ws-success{
	background-color: $green;
	color:white;
}	

.register {

	.form-register{
		margin:0;
		padding:0;
		padding-bottom:50px;
		border-right:1px solid #DDD;
	}
	.form-facebook {
		float:left;
		width:45%;
		border:0;
		padding-bottom:50px;
		text-align: center;
	}

	p.intro {
		text-align: center;
		color:#888;
		margin:20px 0;
	}
}


/*======
==== Event Create
======*/
.createEvent {
	.twitter-typeahead { width:100%;}
	.col_small{
		padding:0;
		padding-top:30px;
		.form-submit{
			text-align: center;
			input[type=submit]{
				display: inline;
				padding:10px 10%;
			}
		}
	}
}

/*======
==== Event View
======*/

.eventview{}

.event-header{
	width:100%;
	padding:20px 2% 10px 2%;
	background-color:$lightgrey;
	@extend %clearfix;	

	div.event-title{		
		float:left;
		width:70%;

		h1{
			margin-top:0px;
			margin-bottom: 0;
			font-family: 'Boogaloo',Helvetica,Arial;
			color:$deepblue;
			font-weight: normal;
			@include rem(35);

		}

		
	}

	div.event-orga{
		float:right;
		width:30%;

		div.orga-info{
			float:right;
			text-align: right;
			margin-right:10px;
			padding-top: 10px;

			span{
				display: block;
				width: 100%;
				color:#AAA;
			}
			span.orga-name{
				font-weight: normal;
				font-family: 'Boogaloo';
				@include rem(22);
				text-transform: capitalize;
				a {color:$deepblue;}
			}
			small{				
				border-bottom:1px solid #CCC;				
			}
		}

		div.orga-avatar{			
			float:right;
			img { height:100px; padding:2px; border:1px solid #CCC;}
		}
	}
}

.event-action-bar {
	width:100%;
	padding:7px 5% 10px 5%;
	text-align: right;
	border-top:4px solid #D0D0D0;
	@extend %clearfix;

	.event-status{
		float:right;
		.label { padding:5px 10px; @include border-radius(10px)}
		span.nb-participant{
			@include rem(12);
			margin-left:5px;
		}		
	}
	.event-action{
			float:left;			
			margin-top:3px;
			a.btn-ws{
				padding:5px 10px;
				@include rem(12);
				font-weight: normal;
				background-color: $deepblue;
				@include border-radius(2px);
				@include box-shadow(0 0 0 #000);				
			}	
			a.btn-ws-success{
				background-color: $green;
			}				
			

	}
}
.event-pending{
	background-color:$softgrey;
	color:$deepgrey;
	@include rem(14);
}
.event-confirmed{
	background-color: #a3d2a3;
	color:#5b894a;
}
.event-finished {
	background-color: #BBB;	
	color:#FFF;
	text-align: left;
	span.label {
		background-color:#666;
	}
}

div.col_large{
	float:left;
	width:600px;
	min-height: 300px;
	padding:10px 5px 0 40px;

	h2.event-info{
		@include rem(22);
		color:$darkblue;

		span{
			padding:8px;
			background-color: #FFF;
			@include border-radius(100px);
		}
		small{
			@include rem(16);
		}
	}
}

div.col_small{
	float:left;
	width:340px;
	min-height: 300px;
	padding:10px 0px 0 40px;
}

.block{
	margin-bottom:20px;
	
	ul{
		margin:0;
		padding:0;
		list-style: none;
	}
	h3{
		padding:8px 0 8px 30px;
		@include rem(14);
		text-transform: uppercase;
		line-height:100%;
		margin:0;
		background-color:#BBB;
		@include box-shadow(inset 10px 0 0 0px rgba(0,0,0,0.05));
	}
	.block-content{
		padding:20px 5px 10px 30px;
		background-color: #CCC;
		@include rem(14);
		color:#888;	
		a{
			padding:5px;
			line-height:14px;

			img{
				float:left;
				width:30px;
				height:30px;
				margin-right:5px;
				padding:1px;
				border:1px solid #AAA;

			}			
			strong{
				float:left;
				@include rem(11);
				text-transform: capitalize;
			}
			small{				
				float:left;
				@include rem(9);
				color:#AAA;
			}
		}
		ul{
			margin:0;
			list-style: none;
			li{

				@include rem(14);
				color:#AAA;
				margin:0 0 5px 0;				
				span{
					display:inline-block;
  					vertical-align:middle;
				}
				img {
					width:30px;
					height:30px;
					padding:1px;
					border:1px solid #AAA;
				}
				a{
					display:inline-block;
  					vertical-align:middle;
					@include rem(12);
					font-weight: bold;
					color:$deepblue;
				}
			}
		}
		a{
			@include rem(10);
		}
		.bottom_link{@include rem(10);}	
	}
}

.block-yellow{
	h3{
		background-color:$softyellow;
		color:#9e9e34;
	}
	.block-content{
		background-color:#ffffeb;
		.bottom_link { color:#9e9e34;}
	}
}
.block-red {
	h3{
		background-color: $softred;
		color:$deepred;
	}
	.block-content{		
		background-color:#ffe3c7;
		.bottom_link { color:$deepred;}		
	}
}
.block-green{
	h3{
		background-color: $softgreen;
		color:$deepgreen;
	}
	.block-content{
		background-color:$lightgreen;
		.bottom_link { color:$deepgreen;}
	}
}
.block-orange{
		h3{
		background-color: $lightred;
		color:darken($softred,10%);
	}
	.block-content{
		background-color:#fff4d4;
		.bottom_link { color:darken($softred,10%);}		
	}
}
.event-discussion, .event-description{
	margin-top:30px;
	border-top:2px solid $lightgrey;
	h3{
		padding-left:20px;
		margin-bottom:0;
		margin-top:0;
		@include rem(16);
		text-transform: uppercase;
		color:#AAA;
	}	
	.block-content {
		color:$deepgrey;
		padding-left:25px;
	}	
}
.event-participants{
	.block-content{
		@extend %clearfix;
		padding:0;
		a {
			display:block;
			float:left;
			width:50%;
		}
	}
}
.event-map{
	.block-content{
		padding:0;
	}
	#eventmap{
		width:300px;
	}
}
.block-action{
	@extend %clearfix;
	text-align:center;
	padding:50px;
	a {
		background-color: $deepblue;
		padding:15px 40px;
		@include rem(16);
	}
	a.btn-link{ background-color:transparent;}
}
.event-reviews{
	
	.block-content{
		padding:10px 20px;			
	}
}
.event-to-come{	
	.block-content{
		padding:10px 20px;		
	}
}
.event-userreview{
	@extend .block-orange;
	label[for=review]{ 
		font-weight: bold;
	}
	input[name=review]{
		width:400px;
		@include rem(14);
		height:auto;
		padding:5px 6px;
		margin:0;
	}
	input[type=submit]{
		margin-top:-7px;
	}
}

/*======
==== User view
===*/

.viewuser{

	.user-header{
		width:100%;
		padding:20px 2% 20px 2%;
		background-color:$lightgrey;
		overflow:hidden;	

		.user-avatar{
			float:left; 
			width:120px;			
			height:100px;
			padding-top:5px;	
			img{
				width:90px;
				height:90px;
				padding:2px;
				border:1px solid #AAA;
			}
		}
		.user-login{
			h1{
				margin:0;
				padding:0;
				@include rem(40);
				color:$deepblue;
				text-transform: capitalize;
				font-family: 'Boogaloo';
				font-weight: normal;
			}
			span {
				@include rem(12);
				color:$deepgrey;
			}
		}
	}

	.user-status{
		width:100%;
		padding:5px 1% 5px 3%;
		overflow:hidden;
		//background-color: $lightgreen;
		.count_activity{
			float:left;
			width:50%;
			text-align:left;
			line-height:200%;

			span.label { @include border-radius(20px);}
		}
		.which_activity{
			float:right;
			width:50%;
			text-align:right;
		}
	}

	.col_large {
		width:550px;
	}

	.col_small {
		width:390px;

		.event-review {
			ul{
				li{
					span{ @include rem(16); }
					small { 
						a {
							font-weight:normal; 
							font-style:italic;
							@include rem(12);
							color:$deepgrey;
						} 
						a:hover { text-decoration:underline;}
					}
				}
			}
		}
	}
}



/*=======
== ACCOUNT
=======*/
#account{	
	.col_small{ 
		.module { padding:10px 5%;}
		.profil {
			.useravatar { margin-right:5px;}
			.username { font-weight:bold; text-transform: capitalize;}
		}	
		.menu{
			padding:0;
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					@include rem(16);
					padding:10px 0 10px 5%;
					border-bottom:1px solid #CCC;

					i.icon { margin-right:5px;}
					a{ color:$deepblue;}
				}
				li:last-child { border-bottom:0;}
				li:hover { background-color: #FFF; 
					a{color:$darkblue;}
				}
			}
		}	
	}
	.col_large{ 
		padding:10px;
		.module { padding:10px 1%;}
		#account-form {
			padding-left:20px;
			padding-right:20px;
			label {
				width:20%;
			}
			label.checkbox{
				width:auto;
				float:none;
			}			
		}
		#account-form.form-mailing{
			.controls{ width:100%;}
		}	
	}
	
	.module {
		background-color:$lightgrey;
		@include border-radius(4px);
		@include box-shadow(0 0 0 #000);
	}

	.col_small,.col_large { padding-top:40px;}
	
}



/*
===========
==== COMMENTAIRE
===========
*/
#commentForm{

	margin:0;
	
	textarea[disabled=disabled]{
		width:80%;
	}
	.userAvatarCommentForm{
		float:left;
		width:40px;
		height:40px;
		margin-right:5px;
	}
	.commentFormFields{
		float:left;
		width:90%;
		textarea{
			width:70%;
			@include box-shadow(0 0 10px #CCC);
		}
	}
}
#tri{
	margin-bottom:0;
}
.commentFilter{
	float:left;
	width:100%;
}

#comments{
	float:left;
	width: 100%;
		
		.post{
			margin-bottom:0;
			border:0;
			@include box-shadow(0 0 0 #000);
			background-color: #F0F0F0;
		}
		
}
#bottomComments{
	float:left;
	width: 100%;

	div,a{
		width:100%;
		display: block;
		display:none;
		text-align: center;
		background-color: $lightgrey;
		color:$deepgrey;
	}
}
#hiddenFormReply{
	display:none;
}
/*
============
=== FOOTER ==
============
*/
.footer {
	width:100%;
	border-top:15px solid $lightblue;
	@include box-shadow(0 -35px 60px rgba($lightblue,0.7));
	background-color:$darkblue;
	padding:20px 5%;

	ul li { display:inline-block; margin:0 40px; }
	ul li a, ul li a:link, ul li a:visited {
		font-family: Verdana,sans-serif;
		@include rem(14);
		color:$lightblue;	
		text-transform: uppercase;	
	}
	ul li a:hover, ul li a:active{
		text-decoration: underline;
	}

	.copyright {text-align:center; @include rem(10); color:$deepblue; }
}

/*
======================
TYPEAHEAD CUSTOM STYLE
=====================*/
.tt-dropdown-menu { width:100%; padding:8px 0; text-align: left; background-color: white; border:1px solid rgba(0,0,0,0.2); border-radius: 8px; box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.tt-suggestion {  padding:8px 20px;}
.tt-name {  @include rem(16);  font-weight:bold;  color:#888;}
.tt-sub {  @include rem(15);; font-style:italic;  color:#999;}
.tt-id{  @include rem(8); color:#AAA;  display: none;}
.tt-suggestion.tt-is-under-cursor{  background-color:#0097cf;}
.tt-suggestion.tt-is-under-cursor p{  color:white;}
/* ==============
=====*/

/* reset chrome style for select inputs */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {-webkit-appearance: none; appearance: none; }
}

/* Smartphones (portrait) ----------- */  
@media only screen and (max-width : 480px) {  
  
  .navbar { padding:0 1%;}
  .navbar .weSport { margin:5px 5px 0 5px; padding:0;}
  .navbar .desktopMenu{ display:none;}
  .navbar .mobileMenu{ 
  	display:block;
  	li{
  		a{
  			padding:0;
  			margin-left:10px;
  		}
  	}
  }

  #formSearch{
  	width:100%;
  	margin:20px 0 0 0;

  	.cityRounded{
  		width:100%;
  		margin:0;
  		padding:20px 10px;
  		@include border-radius(50px);
  		@include box-shadow(0 0 0 #000);

  		.cityInputs{
  			padding:0;
  			width:67%;
  			.containerCityName{
  				
  				width:75%; 	
  				#cityName{ 
  					height:40px;
  					padding-left:15px;				
  					@include rem(28);
  				}
  				.twitter-typeahead .tt-hint {
  					@include rem(28);
  				}
  			}
  			.containerExtend{
  				width:25%;
  				top:30%;
  			}
  		}
  		.citySubmit{
			
  			.ws-icon-loupe { @include rem(30);}
  		}
  		.cityAriane{
  			width:65%;  			
  			@include rem(10);
  		}
  	}	
	.sportCheckboxs{ display:none;}
  	.sportSelect {
  		display:block;
  		width:100%;
  		padding:0 10%;
  		margin:30px 0 0 0;

  		label {
  			@include rem(14);
  		}
  	}
  }

	.connexion{
		.container{
			width:100%;
			.form-ws{
				width:100%;
				.control-submit{
					width: 100%;				
				}
			}
		}
	}

	.register{
		.container{
			width: 100%;
			.form-ws{
				width: 100%;
				float:right;
			}
			.form-facebook{
				width: 100%;
				float:left;
			}
		}
	}

	.createEvent{
		.container{
			width:100%;
			.col_large{
				width:100%;
				padding:0;
				.control-group{
					.control-label{
						width:25%;
					}
					.controls{						
					}
				}
			}
			.col_small{
				width: 100%;
				padding:0;
			}
		}
	}

	.viewevent{
		.container{
			width:100%;
			.event-header{
				.event-title{					
					width:auto;
					h1{
						@include rem(26);
						.event-sport-logo{
							padding:0;
							@include rem(40);
						}
					}
				}
				.event-orga{
					float:left;
					width:100%;
					.orga-avatar{
						display:none;
					}
					.orga-info{
						float:left;
						text-align: left;
						span {
							display: inline-block;
							width: auto;							
						}
						span.orga-name{
							@include rem(12);
						}
						span.orga-age{
							@include rem(10);
						}
						small{
							@include rem(12);
						}

					}
				}
			}
			.event-action-bar{
				.event-action{
					@extend %clearfix;
					margin-bottom:10px;
					margin-top:10px;
					margin-right:5px;
					.btn-ws{
						padding:10px 20px;
					}
				}
				.event-status{
					float:left;
					margin-top:2px;
				}
			}

			.col_large{
				width:100%;
				padding:10px 1%;
				.event-info{
					margin-bottom:0;
					line-height:150%;
					@include rem(20);
				}
			}

			.col_small{
				width:100%;
				padding:0;
				margin-top:50px;
				#eventmap{
					width:100%;
				}
			}
		}
	}
	

	.viewuser{
		.container{
			width:100%;
			.user-header{
				.user-avatar{
					width: 100px;
				}
				.user-login{
					h1{
						@include rem(20);
						margin-bottom:0;
					}
					span{
						@include rem(10);
					}
				}
			}
			.user-status{
				.count_activity{
					float:left;	
					width:auto;	
					margin-right:10px;			
				}
				.which_activity{
					float:left;
					width:auto;
				}
			}
			.col_large{
				width:100%;	
				margin-top:20px;
				padding:0 2%;		
			}
			.col_small{
				width: 100%;
				margin-top:20px;
				padding:0 2%;
			}
		}
	}

	#account{
		.container{
			width:100%;
			.col_small{
				width:100%;
				padding:10px 5px;
			}
			.col_large{
				width: 100%;
				padding:0 5px;
				#account-form{
					h2{
						text-align: center;
						@include rem(25);
					}
					padding:0 5px;
					margin-top:0;
				}
			}
		}

	}
	.footer {
		.container{
			width:100%;
			ul{
				margin-left:0;
				li{
					display:block;
					width:100%;
					a{
						@include rem(12);
					}
				}
			}
		}
	}
} 
/* very small smartphone */
@media only screen and (max-width : 240px) { 
	#formSearch{
		.cityRounded{
			padding-right:0;
			padding-left:0;
			.cityInputs{
				.containerCityName{
					#cityName{
						width:100%;
						height:40px;
	  					padding-left:10px;				
	  					@include rem(25);
					}					
				}	
				.containerExtend{
					display: none;
				}			
			}
			.citySubmit{
				.ws-icon-loupe { @include rem(20);}
			}
			.cityAriane{
				width:60%;
			}
		}
	}
}


/* Smartphones landscape and Tablets portrait */  
@media only screen and (min-width : 480px) and (max-width : 768px) {  
   
   .navbar{
   		padding:0 1%;
		.weSport { padding:0 ; margin-right:20px;}
   		.desktopMenu { display:none;}
   		.mobileMenu { display:block;}
   }
	#formSearch{
		width:100%;
		margin:40px 0 0 0;
		.cityRounded{
			width:80%;
			margin:0 10%;
			.cityInputs{
				width: 70%;
			}
		.cityAriane{
			width:69%;
		}

		}
		.sportCheckboxs{
			display: none;
			.sportChoice{
				label span { @include rem(25);}
				label span { @include rem(35);}
			}
		}
		.sportSelect{
			display: block;
			width:100%;
			padding:0 30%;
			margin-top:30px;
			label.control-label {
				@include rem(14);
			}

		}
	}
	
	.connexion{
		.container{
			width:90%;
			margin:0 5%;
			.form-ws{
				width:70%;
				margin-left:15%; margin-right:15%;
				.control-submit{
					width: 100%;				
				}
			}
		}
	}

	.register{
		.container{
			width: 90%;
			margin:0 5%;
		}
	}

	.createEvent{
		.container{
			width:90%;
			margin:0 5%;
			.col_large{
				width:100%;
				padding:0;
				.control-group{
					.control-label{
						width:15%;
					}
					.controls{						
					}
				}
			}
			.col_small{
				width: 60%;
				margin:0 20%;
				padding:0;
			}
		}
	}
	.viewevent{
		.container{
			width:94%;
			margin:0 3%;
			.event-header{
				.event-orga{
					.orga-avatar{
						img{ height:70px;}
					}
				}
			}

			.col_small{				
				width:100%;
				padding:50px 10% 50px 10%;

				.block{
					.block-content{
						padding:15px;
					}					
				}
				.event-participants{
					.event-participant-avatar{
							width:70px;
							height:70px;
						}
						strong{
							@include rem(17);
						}
						small{
							@include rem(14);
						}
					}
					.event-reviews{
						ul{
							li{
								@include rem(18);
								img{
									width:60px;
									height:60px;
									
								}
							}
						}
						a{
							@include rem(16);
						}
					}

			}
		}
	}

	.viewuser{
		.container{
			width: 94%;
			padding:0 3%;

		}

		.col_large{
			width: 100%;
			padding:20px 10%;
		}
		.col_small{
			width: 100%;
			padding:20px 10%;
		}
	}

	#account{
		.container{
			width:94%;
			margin:0 3%;
			.col_small{
				width:100%;
				padding:20px 15%;
			}
			.col_large{
				width:100%;
				padding:0 5%;
			}
		}
	}

	.footer {
  	.container{
  		width:100%;
  		ul{
  			margin-left:0;
  			li{
  				display:inline-block;
  				width:auto;
  				margin:0 10px;
  			}
  		}
  	}
  }
}  
  

/* Tablets landscape and Small computer----------- */  
@media only screen and (min-width : 768px) and (max-width : 1025px) {  
   
   .navbar{
   		padding:0 1%;
   		.weSport{
   			padding:0; padding-left:10px;
   			margin-right:20px;
   		}
   		.nav li a {
   			padding:0 15px;
   		}
   }
   #formSearch{
   		width:100%;
   		.cityRounded{
   			width:70%;
   			margin:0 15%;
   		}
		.sportCheckboxs{
			.sportChoice{
				label span { @include rem(30);}
			}
		}
   }
	.connexion{
		.container{
			width:100%;
			
		}
	}

}  