@font-face {
    font-family: 'Bubblegum';
    src: url('fonts/Bubblegum/BubblegumSans-Regular-webfont.eot');
    src: url('fonts/Bubblegum/BubblegumSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bubblegum/BubblegumSans-Regular-webfont.woff') format('woff'),
         url('fonts/Bubblegum/BubblegumSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/Bubblegum/BubblegumSans-Regular-webfont.svg#BubblegumSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Alba';
    src: url('fonts/Alba/alba___-webfont.eot');
    src: url('fonts/Alba/alba___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alba/alba___-webfont.woff') format('woff'),
         url('fonts/Alba/alba___-webfont.ttf') format('truetype'),
         url('fonts/Alba/alba___-webfont.svg#albaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "compass/css3";

$lightblue:#a3caea;
$deepblue:#427b8b;
$darkblue:#1b3a43;

$darkred:#a50026;
$deepred:#bf4e48;
$red:#f46d43;
$softred:#fdae61;
$lightred:#fee08b;
$softyellow:#ffffbf;
$lightgreen:#d9ef8b;
$softgreen:#a6d96a;
$green:#66bd63;
$deepgreen:#1a9850;
$darkgreen:#006837;

$lightgrey:#efefef;
$softgrey:#e3e2e2;
$deepgrey:#888;
$darkgrey:#444;
$fontgrey:#9e9e34;

html {	
	font-size:100%;
	background-color: $darkblue;
}

.mainContainer {
	background-color:$deepblue;
	padding-bottom:200px;
}

.container-fluid { padding-right:0; padding-left:0;}

.navbar {
	background-color:$lightblue;
	font-family: 'Bubblegum';
	padding:0 5%;
	@include box-shadow(0 10px 15px rgba(0,0,0,0.1));

	.weSport, .nav li a {
		font-size:1.5rem;
		color:$deepblue;
		line-height: 2.5rem;
		padding:0 30px;
		margin:5px 0;
		@include text-shadow(0 0 0 #fff);	
	}

	.weSport{
		float:left;
		color:$darkblue;
		margin-right:50px;
		i{font-style: normal; color:#0d83af}
		img{width:30px;}
	}

	a.currentPage, a.currentPage:link, a.currentPage:hover, a.currentPage:visited, a.currentPage:active {
		background:$darkblue;
		color:$lightblue;
		@include border-radius(5px);
		
	}

	.nav.pull-right { 
		
		.nav-avatar { position:relative; height:50px;}
		form { display:none;}

		li.dropdown {
			ul li { }
			ul li a { font-size: 1.1rem; margin:0;}
			ul li a:hover { color: #FFF}
			li.divider { margin:0; border-bottom: 1px solid #DDD;}
			a.dropdown-toggle { padding:0;}
			b.caret { vertical-align: middle; border-top:10px solid $darkblue; border-right:10px solid transparent; border-left:10px solid transparent;}
		}
	}

	.phoneMenu{
		display:none;
		li.dropdown{
			a.dropdown-toggle{				
				.caret { margin-top:18px;}
			}
		}
		li{
			ul{
				li a{ 
					font-size:1rem;

				}
			}		
		}
	}
}

.fresque {
		width:100%;
		height:30px;
		background-color:white;
		background-image:url(../img/fresque.jpg);
		background-repeat: repeat-y;
		background-size:100% 1px;
}

.top-banner {
	width:100%;
	padding:5px 0;
	background-color:$darkblue;
	
	.fresque{
		height:10px;
	}	
	.void{
		width:100%;
		height:30px;
	}
}

.ws-icon {
	color:black;
	display: inline-block;
	vertical-align: middle;
}
.ws-icon-small{
	font-size: 2rem;
}
.ws-icon-large{
	font-size:4rem;
}
.ws-icon-small.ws-icon-halo{
	padding:5px;
}
.ws-icon-large.ws-icon-halo{
	padding:10px;
}
.ws-icon-halo{
	background-color:white;
	@include border-radius(100px);
}

#formSearch{
	
	width:70%;
	margin:0 auto;
	margin-top:50px;

	.cityRounded {
		display: block;
		width:70%; margin:0 10%;
		padding:15px 20px 15px 40px;
		background-color:$darkblue;
		@include border-radius(100px);
		@include box-shadow(0 0 0 20px lighten($deepblue,3%));
		border:1px solid #FFF;		

		.cityInputs {

			float:left;
			width:80%;
			margin:0;
			padding:0 30px;
			padding-top:20px;

			.containerExtend { float:left; width:20%; overflow:hidden;
				input { width:100%;}
				#extend { height: 100%; margin-top:30px; width: 150%; font-size: 1.2rem; font-family:'Alba'; color:#FFF; line-height: 100%; border:0; vertical-align:middle;  background:transparent; -webkit-appearance: none; -moz-appearance: window; }
				#extend option { background-color:$darkblue; font-size: 0.8rem; padding:10px; font-weight: bold;}
			}
			.containerCityName { 
				float:left; width:80%;
				#cityName { width:100%; height:auto; padding:0; font-size:3rem; line-height:100%; border:0; background-color:transparent; }
				.twitter-typeahead {width:100%;}
				.twitter-typeahead > input { height: 100%; width:100%;}
				.twitter-typeahead > input { font-size: 36px; background:transparent; font-family:'Alba',Helvetica,Arial,sans-serif; outline:0; }
				.twitter-typeahead > #cityName {color:white;}
				.twitter-typeahead .tt-hint { font-size:3rem; color:#DDD; color:rgba(255,255,255,0.5);  margin-top:-4px; margin-left:-6px;}
			}
		}

		.cityAriane {
			float:left;			
			width:74%;
			margin:0 3%;
			margin-top:-20px;
			padding-top:5px;
			color:#FFF;					
			border-top:2px solid #FFF;
		}

		.citySubmit { 
			float:right ; 					
			background-color:$lightblue;
			border:12px solid $deepblue; 
			border-radius: 60px;
			padding:15px;

			.ws-icon-loupe { color:#FFF; font-size: 4rem;}

		}
		
	}

	.sportCheckboxs {
		width:100%;
		margin:60px 0 20px 0;

		.sportChoice {
			float: left;
			position:relative;
			margin:0 6px 2px 6px;
			input { z-index:2; position:absolute; left:30%; top:30%; visibility: hidden; }
			label { z-index:1; position:relative; left:0; top:0; background-color: #FFF; border:10px solid #FFF; @include border-radius(30px);}
			label span {font-size: 2.3rem;margin:2px;}

			label:hover {
				border-color:$lightblue;
			}
			input:checked ~ label {
				border-color:$darkblue;
			}
		}



	}

}

.calendar {

	.calendar-header {
		background-color:$darkblue;
		width:100%;
		height:25px;
	}

	.calendar-footer {
		background:$darkblue;
		width:100%;
		height:50px;
		border-bottom:10px solid lighten($darkblue,10%);
	}

	.colomn-date {
		width: 100%;
		padding:15px 0;
		text-align: center;
		@include text-shadow(0 0 5px rgba(0,0,0,0.5));

		a {
			color:white;
		}
		strong {
			text-transform: uppercase;
			font-size: 1.1rem;
		}
		i {
			font-style:normal;
		}

	}

	table {
		
		$perCent:3%;
		min-height:1000px;
		table-layout: fixed;
		width:100%;


		tr {height:100%;}

		td { vertical-align: top;  }
		td.colomn-first { background-color: $deepred;}
		td.colomn-1 { background-color: $red; @include box-shadow(inset 0 0 0 30px darken($red,$perCent));}
		td.colomn-2 { background-color: $softred; @include box-shadow(inset 0 0 0 30px darken($softred,$perCent));}
		td.colomn-3 { background-color: $lightred; @include box-shadow(inset 0 0 0 30px darken($lightred,$perCent));}
		td.colomn-4 { background-color: $softyellow; @include box-shadow(inset 0 0 0 30px darken($softyellow,$perCent));}
		td.colomn-5 { background-color: $lightgreen; @include box-shadow(inset 0 0 0 30px darken($lightgreen,$perCent));}
		td.colomn-6 { background-color: $softgreen; @include box-shadow(inset 0 0 0 30px darken($softgreen,$perCent));}
		td.colomn-7 { background-color: $green; @include box-shadow(inset 0 0 0 30px darken($green,$perCent));}
		td.colomn-last { background-color: $deepgreen; }

		
		td.colomn-first .colomn-date { background-color: darken($deepred,$perCent);}
		td.colomn-1 .colomn-date { background-color: darken($red,$perCent);}
		td.colomn-2 .colomn-date { background-color: darken($softred,$perCent);}
		td.colomn-3 .colomn-date { background-color: darken($lightred,$perCent);}
		td.colomn-4 .colomn-date { background-color: darken($softyellow,$perCent);}
		td.colomn-5 .colomn-date { background-color: darken($lightgreen,$perCent);}
		td.colomn-6 .colomn-date { background-color: darken($softgreen,$perCent);}
		td.colomn-7 .colomn-date { background-color: darken($green,$perCent);}
		td.colomn-last .colomn-date { background-color: darken($deepgreen,$perCent);}

		td.colomn-last {		
			a img {margin-left:-5px;}
		}
		td.colomn-first {
			a img {margin-right:-5px;}
		}


		.events {
			width:96%;
			margin:5px auto;
			padding:10px;
			min-height:100px;
			background-color:#FFF;
			@include border-radius(20px);

			.events-time {
				font-weight:bold;
				font-size: 0.9rem;
				color:#d0d0d0;
			}

			.events-content{
				.events-title{
					position:relative;
					float:left;
					color:$deepblue;
					font-size: 0.95rem;
					font-weight: bold;
					margin:5px 0 0 0;										
				}
				.ws-sport-icon { 
					float:left;
					margin-right:5px;
					margin-top:-5px;
					span {
						font-size: 2rem; color:#000; 
					}
				}
			}
		}
	}
}

.white-sheet {
	background-color:#FFF;
}
.head-sheet {
	width:100%;	
	background:$lightgrey;
	border-bottom:1px solid darken($lightgrey,10%);
	padding:20px 0;
	text-align: center;
	
}
h1.title-sheet {
	margin:0;
	padding:0;
	font-family:Verdana,sans-serif;
	font-size: 1.5rem;
	color:$darkblue;
	text-transform: uppercase;
}

/*
======= ALERTS
*/
.alert {
	margin:0;
	padding:15px 0;
	text-align: center;	
	@include border-radius(0);

	p { margin:0;}
}

/*
======= CONNEXION
*/
.form-ws {
	margin-top:20px;

	p.intro {
		text-align: center;
		color:#888;
		margin-bottom:20px;
	}

	.control-group {
		margin-bottom:10px;

		label {color:#AAA}
		label.control-label { float:left;  width:16%; color:$deepblue; font-size: 0.9rem; font-weight: bold; }		
		.controls { float:left; width:70%; margin-left:auto; margin-right: auto;}
		input[type=text],input[type=password],input[type=email],select { color:#888; padding-top:7px; padding-bottom:7px; line-height:100%; border:1px solid #CCCCCC; @include border-radius(4px); @include box-shadow(0 0 0 4px #E2E2E2);}
		input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,select:focus{ @include box-shadow(0 0 0 3px $softred); }
		
		input.inline,select.inline { float:left; margin-right:12px;}

		.select2-container { @include border-radius(4px); @include box-shadow(0 0 0 5px #E2E2E2); margin-bottom:10px;}
		.select2-container .select2-search { @include box-shadow(0 0 0 0px #000);}
		.select2-container .select2-focused:focus{ @include box-shadow(0 0 0 0px #000); }
		.select2-container:focus .select2-choice { @include box-shadow(0 0 0 3px $softred);}
		.select2-choice {height:auto; padding:5px 0 5px 10px; border:1px solid #CCC;}
	}

	.control-submit{ 
			width:50%; 
			margin:0 25%;

			input[type=submit],input[type=button] { 
				width:100%;
				padding-top:10px;
				padding-bottom:10px; 				
			}
			p.help {
				float:left;
				width:100%;
				margin:10px 0;
			}
			p.help-center {
				text-align:center;
			}

		}

}
.form.label-hidden{
	.control-group{
		margin:5px 15%;
		label.control-label { display:none;}
	}
}


.btn-ws {
	padding:10px 30px;
	margin:0; 
	color:#FFF; 
	border:0px solid #000; 
	font-weight:bold; 
	@include border-radius(0px); 
	@include box-shadow(1px 1px 0 0 $lightblue,2px 2px 0 0 $lightblue,3px 3px 0 0 $lightblue,4px 4px 0 0 $lightblue); 
	font-size: 1rem;
	background-color:$darkblue;
}
.btn-ws:hover { color:#EFEFEF; }
.btn-ws:active { margin-top:2px; margin-left:2px;  @include box-shadow(1px 1px 0 0 $lightblue,2px 2px 0 0 $lightblue); }
		

.register {
	form{ border-right:1px solid #DDD;}

	.form-facebook {
		float:left;
		width:45%;
		border:0;
		text-align: center;
	}
}


/*======
==== Event Create
======*/
.createEvent {
	.twitter-typeahead { width:100%;}
}

/*======
==== Event View
======*/

.eventview{}

.event-header{
	width:100%;
	padding:20px 2% 10px 2%;
	background-color:$lightgrey;	

	div.event-sport-logo { 
		float:left; 
		width:120px;			
		height:100px;
		padding-top:5px;		
	}

	div.event-title{		
		float:left;
		width:520px;

		h1{
			margin-top:20px;
			margin-bottom: 3px;
			font-family: 'Bubblegum',Helvetica,Arial;
			color:$deepblue;
			font-size: 1.8rem;	

		}

		div.event-action{			
			width:100%;						
			

		}
	}

	div.event-orga{
		float:right;
		width:260px;

		div.orga-info{
			float:right;
			text-align: right;
			margin-right:10px;
			padding-top: 10px;

			span{
				display: block;
				width: 100%;
				color:#AAA;
			}
			span.orga-name{
				font-weight: bold;
				font-size: 1rem;
				text-transform: capitalize;
				color:$darkblue;
			}
		}

		div.orga-avatar{			
			float:right;
			img { height:100px; padding:2px; border:1px solid #CCC;}
		}
	}
}

div.event-status {
	width:100%;
	padding:7px 5%;

	.label { padding:5px 10px; @include border-radius(10px)}
}
.event-pending{
	background-color:$softgrey;
	color:$deepgrey;
	font-size: 0.8rem;
}
.event-confirmed{
	background-color: #a3d2a3;
	color:#5b894a;
}

div.col_large{
	float:left;
	width:600px;
	min-height: 300px;
	padding:10px 5px 0 40px;

	h2.event-info{
		font-size: 1.4rem;
		color:$darkblue;

		span{
			padding:8px;
			background-color: #FFF;
			@include border-radius(100px);
		}
		small{
			font-size: 0.9rem;
		}
	}
}

div.col_small{
	float:left;
	width:340px;
	min-height: 300px;
	padding:10px 20px 0 20px;
}

.block{
	margin-bottom:20px;
	
	ul{
		margin:0;
		padding:0;
		list-style: none;
	}
	h3{
		padding:8px 0 8px 30px;
		font-size: 0.7rem;
		text-transform: uppercase;
		line-height:100%;
		margin:0;
		background-color:#BBB;
		@include box-shadow(inset 10px 0 0 0px rgba(0,0,0,0.05));
	}
	.block-content{
		padding:20px 30px;
		background-color: #CCC;
		font-size: 0.9rem;
		color:#888;	
		a{
			padding:5px;
			line-height:14px;

			img{
				float:left;
				width:30px;
				height:30px;
				margin-right:5px;
				padding:1px;
				border:1px solid #AAA;

			}			
			strong{
				float:left;
				font-size: 0.7rem;
				text-transform: capitalize;
			}
			small{				
				float:left;
				font-size:0.5rem;
				color:#AAA;
			}
		}
		ul{
			margin:0;
			padding-bottom:10px;
			list-style: none;
			li{

				font-size: 0.9rem;
				color:#AAA;
				margin:0 0 5px 0;				
				span{
					display:inline-block;
  					vertical-align:middle;
				}
				img {
					width:30px;
					height:30px;
					padding:1px;
					border:1px solid #AAA;
				}
				a{
					display:inline-block;
  					vertical-align:middle;
					font-size: 0.8rem;
					font-weight: bold;
					color:$deepblue;
				}
			}
		}
		a{
			font-size: 0.6rem;
		}	
	}
}

.event-description{
	h3{
		background-color:$softyellow;
		color:#9e9e34;
	}
	.block-content{
		background-color:#efefef;
	}
}
.event-discussion{
	h3{
		padding-left:20px;
		margin-bottom:0;
		font-size: 0.9rem;
		text-transform: uppercase;
		color:#AAA;
	}
}
.event-participants{
	h3{
		background-color: $softred;
		color:$deepred;
	}
	.block-content{
		padding:0;
		background-color:#ffe3c7;
		a {
			display:block;
			float:left;
			width:50%;
		}
	}
}
.event-map{
	h3{
		background-color: $softgreen;
		color:$deepgreen;
	}
	.block-content{
		padding:0;
	}
}
.event-review,.event-finished{
	h3{
		background-color: $lightred;
		color:$softred;
	}
	.block-content{
		padding:10px 20px;
		background-color: #fff4d4;
		
	}
}
.event-to-come{
	h3{
		background-color: $softred;
		color:$deepred;
	}
	.block-content{
		padding:10px 20px;
		background-color:#ffe3c7;
		
	}
}


/*=======
== ACCOUNT
=======*/
#account{
	.white-sheet { padding-top:40px;}
	.col_small{ 
		.module { padding:10px 5%;}
		.profil {
			.useravatar { margin-right:5px;}
			.username { font-weight:bold; text-transform: capitalize;}
		}	
		.menu{
			padding:0;
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					font-size: 1rem;
					padding:10px 0 10px 5%;
					border-bottom:1px solid #CCC;

					i.icon { margin-right:5px;}
					a{ color:$deepblue;}
				}
				li:last-child { border-bottom:0;}
				li:hover { background-color: #FFF; 
					a{color:$darkblue;}
				}
			}
		}	
	}
	.col_large{ 
		padding:10px;
		.module { padding:10px 1%;}
		#account-form {
			padding-left:20px;
			padding-right:20px;
			label {
				width:20%;
			}
		}	
	}
	
	.module {
		background-color:$lightgrey;
		@include border-radius(4px);
		@include box-shadow(0 0 0 #000);
	}
	
}



/*
===========
==== COMMENTAIRE
===========
*/
#commentForm{

	textarea[disabled=disabled]{
		width:80%;
	}
	.userAvatarCommentForm{
		float:left;
		width:40px;
		height:40px;
		margin-right:5px;
	}
	.commentFormFields{
		float:left;
		width:90%;
		textarea{
			width:70%;
			@include box-shadow(0 0 10px #CCC);
		}
	}
}

.commentFilter{
	float:left;
	width:100%;
}

#comments{
	float:left;
	width: 100%;
		

}
#bottomComments{
	float:left;
	width: 100%;

	div,a{
		width:100%;
		display: block;
		display:none;
		text-align: center;
		background-color: $lightgrey;
		color:$deepgrey;
	}
}
#hiddenFormReply{
	display:none;
}
/*
============
=== FOOTER ==
============
*/
.footer {
	width:100%;
	border-top:15px solid $lightblue;
	@include box-shadow(0 -35px 60px rgba($lightblue,0.7));
	background-color:$darkblue;
	padding:20px 5%;

	ul li { display:inline-block; margin:0 40px; }
	ul li a, ul li a:link, ul li a:visited {
		font-family: Verdana,sans-serif;
		font-size:0.8rem;
		color:$lightblue;	
		text-transform: uppercase;	
	}
	ul li a:hover, ul li a:active{
		text-decoration: underline;
	}

	.copyright {text-align:center; font-size: 0.8rem; color:$deepblue; }
}

/*
======================
TYPEAHEAD CUSTOM STYLE
=====================*/
.tt-dropdown-menu { width:100%; margin-top:10px; padding:8px 0; text-align: left; background-color: white; border:1px solid rgba(0,0,0,0.2); border-radius: 8px; box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.tt-suggestion {  padding:8px 20px;}
.tt-name {  font-size:16px;  font-weight:bold;  color:#888;}
.tt-sub {  font-size:12px;  font-style:italic;  color:#999;}
.tt-id{  font-size:8px;  color:#AAA;  display: none;}
.tt-suggestion.tt-is-under-cursor{  background-color:#0097cf;}
.tt-suggestion.tt-is-under-cursor p{  color:white;}
/* ==============
=====*/

/* reset chrome style for select inputs */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {-webkit-appearance: none; appearance: none; }
}