/*@charset "utf-8";*/
/* CSS base code */
/* Don't touch ! */


/*Rebase css tips =======================================*/
/* calcul size of a box */
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
/* clearfix floated el */
.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
/* IE6/7 support */
.clearfix {*zoom: 1;}
/* disallow breaking line of text */
.break {-ms-word-break: break-all;word-break: break-all;word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}
/* Create ... for long text */
.ellipsis {width: 250px;white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis; /* Required for IE8 */-o-text-overflow: ellipsis; /* Required for Opera */text-overflow: ellipsis;}


a,
a:link,
a:hover,
a:visited,
a:active { text-decoration: none;  outline: 0; }
/*=======================================================*/

body { 
height:100%;
background: -moz-linear-gradient(top,  rgba(5,1,1,0.14) 0%, rgba(0,0,0,0.07) 38%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,1,1,0.14)), color-stop(38%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* IE10+ */
background: linear-gradient(top,  rgba(5,1,1,0.14) 0%,rgba(0,0,0,0.07) 38%); /* W3C */ background-attachment:fixed !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24050101', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */
}


.w90 { width:90%;}
.w80 { width:80%;}
.w70 { width:70%;}
.w60 { width:60%;}
.w50 { width:50%;}
.center {margin-left:auto; margin-right:auto;}


/*=========
MAIN SECTION
==========*/
.mainContainer {margin-top:42px; padding-top:5px; min-height: 800px;}


/*
Nav bar
*/
.navbar { position:fixed; visibility: visible;}
.navbar .brand {padding-top:10px;}
.nav-logo { height: 30px; }
.nav-login { text-transform:capitalize; font-weight:bold;}
.nav-avatar { display:inline; margin-top:-6px; margin-right:5px; height: 30px;}
.nav-search { width:170px;}

/*
Heading
*/
.modal h1 { padding:0; width:100%; color:#303030; text-align:center; font:250% Impact; }
.modal h1:after { display:block; margin:10px 0; width:100%; height:1px; box-shadow:0 0 5px rgba(0,0,0,0.5); content:" "; }


/*
Bootstrap
*/
.btn { border-radius: 0; -moz-border-radius:0; -webkit-border-radius:0; }

/*
Top bar login
*/
form.loginForm { margin:0; padding:8px 0 0 0; display:inline-block; float:right; text-align:right; color:white;}
form.loginForm input { padding-left: 5px; background:#626262; border:1px solid #151515; border-radius: 2px; font-size:14px; margin:0;}
form.loginForm input[name=login] { width:100px; }
form.loginForm input[name=password] { width:70px; }
form.loginForm input:focus, form.loginForm input:hover {  background-color:#EBEBEB; }
form.loginForm input[type=submit] { width:auto; padding-left:6px; padding-right:6px; background-color:rgba(255,255,255,0.6); border:1px solid #555 }
form.loginForm input[type=submit]:hover { background-color:#EBEBEB;}




/*
Geo select
*/
div.geo-select { margin-bottom:8px;}
div.geo-select .select2-choice { padding:4px 5px; width:100%; height:auto; outline:none; border:0; border-radius:0; border:1px solid #CCC; border-radius:3px ; background-color:white; background-image:none; text-align:left; line-height:inherit; }
div.geo-select .select2-choice:focus { outline:none;}
div.geo-select .select2-choice span { margin-right:16px; color:#999;}
div.geo-select .select2-choice div { border:0; background:white; background-image:none;}
div.geo-select .select2-choice div b { background-position:0 -2px;}
div.geo-select .select2-drop { left:0; margin-top: 0; padding:5px 0 2px 5px; }
div.geo-select .select2-results { max-height:300px; text-align:left; }
div.geo-select .select2-result { padding:5px 0; }


.ajaxLoader { padding:0 10px; background-image:url('../img/ajax-loader.gif'); background-repeat: no-repeat; }


.pagination ul li a { margin:0 4px; box-shadow:inset 0 0 15px #E1E1E1, 0 0 2px rgba(0,0,0,0.2);}


/*SlabText PLugin*/
.slabtexted .slabtext{display:-moz-inline-box;display:inline-block;white-space:nowrap;}.slabtextinactive .slabtext{display:inline;white-space:normal;word-spacing:inherit !important;letter-spacing:inherit !important;font-size:1em !important;*letter-spacing:0 !important;*word-spacing:0 !important;}.slabtextdone .slabtext{display:block;}
/*end*/


/*
 Homepage
*/
.homepage { }
.formular { width:60%;}
/*
User registration page
*/

.form:after{ content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden; }
.form .control-group { float:left; margin-bottom:5px; width:100%;}
.form .control-group .control-label { float:left; width:26%; margin:5px 2% 0 2%; min-height:20px; display:block; text-align:right; font-weight: normal ;font-size:95%; color:#AAA}
.form .control-group .controls { float:left; width:70%; }
.form .control-group .controls i.icon-form { position:absolute; display:block; margin-top:7px; margin-left:7px;}
.form .control-group .controls input,
.form .control-group .controls select,
.form .control-group .controls textarea { height:auto; padding-left:30px; width:100%;}
.form .control-group .controls input[type=radio] { display:inline; clear:none; margin-right:5px ; width:auto;}
.form .control-group .controls input[type=checkbox] { display:inline-block; width:auto; clear:left; float:left;}
.form .control-group .controls textarea { padding:10px 20px; font-size:90%;}
.form .control-group .controls label.checkbox { float:left;}
.form .control-group .controls label.radio { padding-left:5px; margin-right:20px; display: inline;}
.form .control-group .controls p.help-inline { width: 100%; padding-left:0; margin-top:0px ;font-size:80%; color:#AAA; }
.form .control-group .controls p.help-error { color:#820200;}
.form .control-error .control-label { color: #820200;}
.form .control-error .controls input,
.form .control-error .controls select,
.form .control-error .controls textarea { border-color: #820200;}
.form .control-error .controls p.help-inline { color:#820200;}
.form .control-error .controls p.help-inline strong { font-style: italic; }
.form input[type=submit] { margin-top:20px; margin-bottom:50px; margin-right:5px; float:left;}
.form.no-label .control-group .control-label { display:none;}
.form.no-label .control-group .controls { width:100%;}


/*
    Autocompletion
*/

.autocomplete-w1 { position: absolute; top: 0px; left: 0px; }
.autocomplete { border: 1px solid #999; background: #FFF; cursor: default; text-align: left; max-height: 350px; overflow: auto; /* IE6 specific: */ _height: 350px; _margin: 0; _overflow-x: hidden; }
    .autocomplete .selected { background: #F0F0F0; }
    .autocomplete div { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete strong { font-weight: normal; color: #3399FF; }


/*
Account
*/
#account {}
.account-form {width:550px; float:left; }
#account-form { padding-left: 50px; padding-right: 50px;}
#changeavatar { float:left; width:230px; }
#changeavatar .avatar { margin-bottom:10px; width:100%; text-align:left;}
#changeavatar .avatar img { width:120px; height:120px; }
#changeavatar input[type=file] { overflow:hidden; border:1px solid #CCC; background:#FFF; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); }
#changepassword { float:left; width:230px; }
#delete { float:left; width:230px; }

.dashboard { width:240px; float:left; margin-right: 30px}
.dashboard .module{ margin:5px 0 15px 0; float:left; clear:left; width:100%; }
.module { width:90%; margin:0 5% 20px 5%; padding:15px;  }
.module-rounded { border:1px solid #CCC; border-radius:10px; background:#F2F2F2; box-shadow:0 0 4px 4px rgba(100,100,100,0.1); }
.module-header { margin-bottom:15px; border-bottom:1px solid #DDD; }
.module-header h2 { color:#444 }
.module-header p.subheader { color:#AAA;}
.mini-profile b { margin-left:10px; text-transform: capitalize; }


.size16 {width:16px; height:16px;}
.size32 { width:32px; height:32px;}
.fleft { float:left;}
.fright { float:right;}

/**
* Formulaire
*/
.formulaire { margin:10px auto 0 auto; margin-bottom:100px; width:70%;}
.formulaire .form-block { overflow:hidden; margin-top:10px; margin-bottom:20px; padding:20px 50px; border:1px solid #CCC; background:#F2F2F2; box-shadow:0 0 4px 4px rgba(100,100,100,0.1);}
.formulaire .control-group { float:left; margin:5px 0; width:100%;}
.formulaire .control-label { position:relative; display:inline; color:#777; font:bold 150% Arial, Helvetica, sans-serif; }
.formulaire .label-helper { display:inline; margin-left:5px; color:#AAA; text-align:left;}
.formulaire .controls { margin:10px 0;}
.formulaire .helper { padding:0; width:100%; color:#AAA; text-align:left;}
.formulaire input[type=text], .formulaire textarea { width:100%; }
.formulaire input, .formulaire textarea, .formulaire select {  padding:5px 5px; box-shadow:0 0 0 5px #E2E2E2; }
.formulaire input[type=submit] { padding:10px 25px; width:auto; }
.formulaire select { width:130px; -webkit-appearance:none;}
.formulaire .submit .helper { display:inline; padding-left:15px; color:#AAA; text-align:left; }
.formulaire div.geo-select { margin-right:10px; box-shadow: 0 0 0 5px #E2E2E2;}


/*
Commentaires
*/
.comments { float:left; width:98%; margin:50px 1% 0 1%; }
.no_comment { float:left; width:100%; color:#888; text-align:center; font-weight:bold;}
.thread { position:relative; float:left; margin:10px 0; padding:10px 3%; width:94%;  }
.thread:after { content:" "; position:relative; top:-10px; left:0; width:100px; height:100px; background:#000; }

/* Comments */
.post { border:1px solid #CCC; background-color:rgba(255,255,255,0.5); box-shadow:0 3px 5px rgba(167,167,167,0.2);  }
.post .logo { float:left; width:9%; margin-right:1%}
.post .logo img { width:35px; height:35px;}
.post .content { float:left; width:90%;}
.post .actions { float:left; visibility: hidden; margin-top:10px; width:100%;}
.post .actions a, .post .actions span{ color:darkgrey; font-size:90%;}
.post .actions a:hover { text-decoration: none; color:#4F88D8; cursor: pointer;}
.post .actions a:after {content:' - '; }
.post img.avatar { height:50px; }
.post .user { display:inline; float:left; color:#4F88CC; text-transform:capitalize; font-weight:bold; font-size:100%; margin-right:7px; }
.post .date { color:grey; font-size:80%; }
.post .actions { margin-top: 10px; text-align:left; }
.content { float:left; width:90%; }
.content { color:#555; font-size:12px;}
.replies { position:relative; float:right; margin-bottom:3px; margin-left:1%; padding-left:2%; width:92%; }
.replies:before { position:absolute; top:0px; left:0; z-index:-10; display:block; height:100%; margin-top:-10px; border-left:1px solid #CCC; content:" "; }
.reply:before { position:absolute; top:50%; left:-10px; z-index:-2; display:block; width:10px; border-top:1px solid #CCC; content:" "; }
.replies:before { }

/* Replies */
.showHiddenReplies { display:block; width:100%; float:left; color:#AAA;}
.showReplies {}
.hideReplies {}
.hiddenReplies {display: none;}

/* Type news */
.type_news { }
.type_news .logo { position:absolute; right:5px; top:10px; width:80px; height:80px; }
.type_news .logo img { width:80px; height:80px; }
.type_news .logo:before { content:' '; width:110px; height:200px; background-color:#000;}
.type_news .user { position:absolute; right:0; top:90px; width:100px; margin:0; text-align:center; display:inline-block; }
.type_news .content { width:80%; }
.type_news .title { color:#4F88CC; font-weight:bold ; font-size:20px;}
.type_news .previewMedia { margin: 0; padding: 0;}
.type_news .previewMedia-info { display:none;}
.type_news .previewMedia-thumbnails { width:auto;}

/* Type slogan */
.type_slogan .slogan {text-align:center;}
.type_slogan .slogan div { position:relative; float:left; margin:10px 5%; padding:25px 5%; width:80%; border-radius:15px; background:#FFF; box-shadow:0 0 10px rgba(0,0,0,0.4); text-transform:uppercase; font-weight:bold; font-size:22px; line-height:25px; }
.type_slogan .slogan div:after { position:absolute;  top:99%; left:100px; display:block; content:url('../img/slogan_arrow.png'); }                          
.type_slogan .slogan img { float:left; clear:both; margin-top:20px; margin-left:50px; }

/* Preview */
#commentPreview {width:70%;}
.previewMedia { float:left; overflow: hidden; margin:10px 5%; padding:20px 3%; width:94%; border:1px solid #EEEEEE; background-color:#FdFdFd;}
.previewMedia-thumbnails { float:left; width:50%; text-align:right; }
.previewMedia-thumbnail { max-width:100%; cursor:pointer;}
.previewMedia-totalthumbnails { width:100%; color:#5a5a5a; text-align:center; }
.previewMedia-info { float:right; overflow:hidden; padding:0 1%; width:45%; text-align:left;  }
.previewMedia-close { width:100%; color:grey; text-align:right; font-weight:bold;}
.previewMedia-close:hover { text-decoration:underline; cursor:pointer;}
.previewMedia-title { width:100%; color:black; font-weight:bold;}
.previewMedia-desc { overflow:hidden; width:100%; max-height:250px; }

/* Moderate */
.commentIsModerate {font-style: italic; color:#AAA;}
.commentIsModerate a { font-size:80%; }

/* Comment Form */

.commentFormFields { overflow:hidden;}

#commentTextarea { float:left; width:70%; height:60px; clear:both;}
#commentTitle { float:left; width:70%; }
#commentTextareaButtons { float: left;  margin-left:5px; }
.userAvatarCommentForm { float:left; height: 30px; margin:0 5px 0 0;}
.formCommentReply { float:left; padding:10px 8% 5px 3%; margin-bottom:0; width:93%; background-color:rgba(0,0,0,0.05); border:1px solid #CCC;}
#formCommentReply { }
textarea.formComment  { float:left; width:60%; height:30px; }
.formCommentReply input[type=submit] { float:left; display:block; margin-left:1%;}
#hiddenFormReply form { display:none;}
#tri .btn { background-image:none; background-color:transparent; color:grey; border:0;}

/* Bottom bar */
#bottomComments { float:left; margin-top:20px; width:100%; color:#626262; background-color:#282828; text-transform:uppercase; text-align:center; font-weight:normal; font-size:12px; }
#bottomComments div, #bottomComments a { color:#BBB; padding:10px 0; }
#bottomComments a:hover { color:#888; text-decoration: none;}

#loadingComments { display:none; }
#noMoreComments { display:none; }
#noCommentYet { display:none;}

.arrow_box {
    position: relative;
    
    border: 1px solid #fffbfb;
}
.arrow_box:after, .arrow_box:before {
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none;
}

.arrow_box:after {
    top: 40px;
    margin-top: -20px;
    border-width: 20px;
    border-left-color: #e7e7e7;
}
.arrow_box:before {
    top: 40px;
    margin-top: -21px;
    border-width: 21px;
    border-left-color: #fffbfb;
}



/*
Boite Modal
*/
.modal {width:auto;}
.modal form { margin:0;}
.modal-header { overflow:hidden; }
.modal.fade.in {
top: 40%;
}

/*===============
    ERROR
================*/
.error_page { margin:60px 0%; width:100%; height:400px;}
.bubble { position:relative;  margin-left:350px; padding:50px 50px; width:400px; border:2px solid #AAA; border-radius:15px; background:#FFF; color:#AAA; text-align:center; font-weight:bold; font-size:26px; line-height:1.5em; }!DOCTYPE
.sign { position:absolute; margin:0 auto; width:400px;}
.oups { position:relative; margin:0 auto; margin-bottom:-155px; margin-left:55px; width:250px; height:150px; }
.oups table { width:100%; height:100%; }
.oups table tr td { vertical-align: middle; text-align:center; font:350% Impact,'Arial Black'; }



/*=============
BACK END ADMIN
==============*/
.backend_admin {}
.backend_admin .mainContainer {
    background-color:#FFF;
    padding:20px 1%;
}
.backend_admin form input[type=text] { height:auto; width:60%; font-size:14px; padding:3px 2px;}
.backend_admin form label {color:#888;}



/*==============
    FLAGS
    // code from flag-sprites.com modified to fit database country id... dont change !!
===============*/
.flag {
    display:inline-block;
    margin-right:3px;
    width: 16px;
    height: 11px;
    background: url(../img/flags/flags.png) no-repeat;

}
.flag.flag- { background:url(../img/flags/globe.png) no-repeat; height:13px; margin-right:9px;}
.flag.flag-ad {background-position: -16px 0;}
.flag.flag-ae {background-position: -32px 0;}
.flag.flag-af {background-position: -48px 0;}
.flag.flag-ag {background-position: -64px 0;}
.flag.flag-av {background-position: -80px 0;}
.flag.flag-al {background-position: -96px 0;}
.flag.flag-am {background-position: -112px 0;}
.flag.flag-nt {background-position: -128px 0;}
.flag.flag-ao {background-position: -144px 0;}
.flag.flag-ar {background-position: -160px 0;}
.flag.flag-aq {background-position: -176px 0;}
.flag.flag-at {background-position: -192px 0;}
.flag.flag-au {background-position: -208px 0;}
.flag.flag-aa {background-position: -224px 0;}
.flag.flag-aj {background-position: -240px 0;}
.flag.flag-bk {background-position: 0 -11px;}
.flag.flag-ac {background-position: -16px -11px;}
.flag.flag-bd {background-position: -32px -11px;}
.flag.flag-be {background-position: -48px -11px;}
.flag.flag-uv {background-position: -64px -11px;}
.flag.flag-bu {background-position: -80px -11px;}
.flag.flag-bh {background-position: -96px -11px;}
.flag.flag-bi {background-position: -112px -11px;}
.flag.flag-bj {background-position: -128px -11px;}
.flag.flag-bm {background-position: -144px -11px;}
.flag.flag-bx {background-position: -160px -11px;}
.flag.flag-bl {background-position: -176px -11px;}
.flag.flag-br {background-position: -192px -11px;}
.flag.flag-bs {background-position: -208px -11px;}
.flag.flag-bt {background-position: -224px -11px;}
.flag.flag-bv {background-position: -240px -11px;}
.flag.flag-bc {background-position: 0 -22px;}
.flag.flag-by {background-position: -16px -22px;}
.flag.flag-bz {background-position: -32px -22px;}
.flag.flag-ca {background-position: -48px -22px;}
.flag.flag-catalonia {background-position: -64px -22px;}
.flag.flag-cg {background-position: -80px -22px;}
.flag.flag-ct {background-position: -96px -22px;}
.flag.flag-cf {background-position: -112px -22px;}
.flag.flag-sz {background-position: -128px -22px;}
.flag.flag-iv {background-position: -144px -22px;}
.flag.flag-ck {background-position: -160px -22px;}
.flag.flag-cl {background-position: -176px -22px;}
.flag.flag-cm {background-position: -192px -22px;}
.flag.flag-cn {background-position: -208px -22px;}
.flag.flag-co {background-position: -224px -22px;}
.flag.flag-cs {background-position: -240px -22px;}
.flag.flag-cu {background-position: 0 -33px;}
.flag.flag-cv {background-position: -16px -33px;}
.flag.flag-cw {background-position: -32px -33px;}
.flag.flag-cy {background-position: -48px -33px;}
.flag.flag-ez {background-position: -64px -33px;}
.flag.flag-de {background-position: -80px -33px;}
.flag.flag-dj {background-position: -96px -33px;}
.flag.flag-da {background-position: -112px -33px;}
.flag.flag-dm {background-position: -128px -33px;}
.flag.flag-dr {background-position: -144px -33px;}
.flag.flag-dz {background-position: -160px -33px;}
.flag.flag-ec {background-position: -176px -33px;}
.flag.flag-en {background-position: -192px -33px;}
.flag.flag-eg {background-position: -208px -33px;}
.flag.flag-eh {background-position: -224px -33px;}
.flag.flag-england {background-position: -240px -33px;}
.flag.flag-er {background-position: 0 -44px;}
.flag.flag-sp {background-position: -16px -44px;}
.flag.flag-et {background-position: -32px -44px;}
.flag.flag-eu {background-position: -48px -44px;}
.flag.flag-fi {background-position: -64px -44px;}
.flag.flag-fj {background-position: -80px -44px;}
.flag.flag-fk {background-position: -96px -44px;}
.flag.flag-fm {background-position: -112px -44px;}
.flag.flag-fo {background-position: -128px -44px;}
.flag.flag-fr {background-position: -144px -44px;}
.flag.flag-gb {background-position: -160px -44px;}
.flag.flag-gj {background-position: -192px -44px;}
.flag.flag-gg {background-position: -208px -44px;}
.flag.flag-fg {background-position: -224px -44px;}
.flag.flag-gk {background-position: -240px -44px;}
.flag.flag-gh {background-position: 0 -55px;}
.flag.flag-gi {background-position: -16px -55px;}
.flag.flag-gl {background-position: -32px -55px;}
.flag.flag-gm {background-position: -48px -55px;}
.flag.flag-gv {background-position: -64px -55px;}
.flag.flag-gp {background-position: -80px -55px;}
.flag.flag-ek {background-position: -96px -55px;}
.flag.flag-gr {background-position: -112px -55px;}
.flag.flag-gs {background-position: -128px -55px;}
.flag.flag-gt {background-position: -144px -55px;}
.flag.flag-gq {background-position: -160px -55px;}
.flag.flag-pu {background-position: -176px -55px;}
.flag.flag-gy {background-position: -192px -55px;}
.flag.flag-hk {background-position: -208px -55px;}
.flag.flag-hm {background-position: -224px -55px;}
.flag.flag-ho {background-position: -240px -55px;}
.flag.flag-hr {background-position: 0 -66px;}
.flag.flag-ha {background-position: -16px -66px;}
.flag.flag-hu {background-position: -32px -66px;}
.flag.flag-id {background-position: -48px -66px;}
.flag.flag-ei {background-position: -64px -66px;}
.flag.flag-is {background-position: -80px -66px;}
.flag.flag-im {background-position: -96px -66px;}
.flag.flag-in {background-position: -112px -66px;}
.flag.flag-io {background-position: -128px -66px;}
.flag.flag-iz {background-position: -144px -66px;}
.flag.flag-ir {background-position: -160px -66px;}
.flag.flag-ic {background-position: -176px -66px;}
.flag.flag-it {background-position: -192px -66px;}
.flag.flag-je {background-position: -208px -66px;}
.flag.flag-jm {background-position: -224px -66px;}
.flag.flag-jo {background-position: -240px -66px;}
.flag.flag-ja {background-position: 0 -77px;}
.flag.flag-ke {background-position: -16px -77px;}
.flag.flag-kg {background-position: -32px -77px;}
.flag.flag-cb {background-position: -48px -77px;}
.flag.flag-ki {background-position: -64px -77px;}
.flag.flag-km {background-position: -80px -77px;}
.flag.flag-sc {background-position: -96px -77px;}
.flag.flag-ks {background-position: -112px -77px;}
.flag.flag-kr {background-position: -128px -77px;}
.flag.flag-kurdistan {background-position: -144px -77px;}
.flag.flag-ku {background-position: -160px -77px;}
.flag.flag-cj {background-position: -176px -77px;}
.flag.flag-kz {background-position: -192px -77px;}
.flag.flag-la {background-position: -208px -77px;}
.flag.flag-le {background-position: -224px -77px;}
.flag.flag-st {background-position: -240px -77px;}
.flag.flag-li {background-position: 0 -88px;}
.flag.flag-ce {background-position: -16px -88px;}
.flag.flag-lr {background-position: -32px -88px;}
.flag.flag-ls {background-position: -48px -88px;}
.flag.flag-lh {background-position: -64px -88px;}
.flag.flag-lu {background-position: -80px -88px;}
.flag.flag-lg {background-position: -96px -88px;}
.flag.flag-ly {background-position: -112px -88px;}
.flag.flag-ma {background-position: -128px -88px;}
.flag.flag-mc {background-position: -144px -88px;}
.flag.flag-md {background-position: -160px -88px;}
.flag.flag-mj {background-position: -176px -88px;}
.flag.flag-mg {background-position: -192px -88px;}
.flag.flag-rm {background-position: -208px -88px;}
.flag.flag-mk {background-position: -224px -88px;}
.flag.flag-ml {background-position: -240px -88px;}
.flag.flag-mm {background-position: 0 -99px;}
.flag.flag-mn {background-position: -16px -99px;}
.flag.flag-mo {background-position: -32px -99px;}
.flag.flag-cq {background-position: -48px -99px;}
.flag.flag-mb {background-position: -64px -99px;}
.flag.flag-mr {background-position: -80px -99px;}
.flag.flag-mh {background-position: -96px -99px;}
.flag.flag-mt {background-position: -112px -99px;}
.flag.flag-mu {background-position: -128px -99px;}
.flag.flag-mv {background-position: -144px -99px;}
.flag.flag-mi {background-position: -160px -99px;}
.flag.flag-mx {background-position: -176px -99px;}
.flag.flag-my {background-position: -192px -99px;}
.flag.flag-mz {background-position: -208px -99px;}
.flag.flag-wa {background-position: -224px -99px;}
.flag.flag-nc {background-position: -240px -99px;}
.flag.flag-ne {background-position: 0 -110px;}
.flag.flag-nf {background-position: -16px -110px;}
.flag.flag-ng {background-position: -32px -110px;}
.flag.flag-ni {background-position: -48px -110px;}
.flag.flag-nl {background-position: -64px -110px;}
.flag.flag-no {background-position: -80px -110px;}
.flag.flag-np {background-position: -96px -110px;}
.flag.flag-nr {background-position: -112px -110px;}
.flag.flag-nu {background-position: -128px -110px;}
.flag.flag-nz {background-position: -144px -110px;}
.flag.flag-om {background-position: -160px -110px;}
.flag.flag-pa {background-position: -176px -110px;}
.flag.flag-pe {background-position: -192px -110px;}
.flag.flag-fp {background-position: -208px -110px;}
.flag.flag-pp {background-position: -224px -110px;}
.flag.flag-rp {background-position: -240px -110px;}
.flag.flag-pk {background-position: 0 -121px;}
.flag.flag-pl {background-position: -16px -121px;}
.flag.flag-bp {background-position: -32px -121px;}
.flag.flag-pc {background-position: -48px -121px;}
.flag.flag-rq {background-position: -64px -121px;}
.flag.flag-ps {background-position: -80px -121px;}
.flag.flag-po {background-position: -96px -121px;}
.flag.flag-lq {background-position: -112px -121px;}
.flag.flag-py {background-position: -128px -121px;}
.flag.flag-qa {background-position: -144px -121px;}
.flag.flag-re {background-position: -160px -121px;}
.flag.flag-ro {background-position: -176px -121px;}
.flag.flag-rb {background-position: -192px -121px;}
.flag.flag-rs {background-position: -208px -121px;}
.flag.flag-rw {background-position: -224px -121px;}
.flag.flag-sa {background-position: -240px -121px;}
.flag.flag-sb {background-position: 0 -132px;}
.flag.flag-se {background-position: -16px -132px;}
.flag.flag-scotland {background-position: -32px -132px;}
.flag.flag-su {background-position: -48px -132px;}
.flag.flag-sw {background-position: -64px -132px;}
.flag.flag-sg {background-position: -80px -132px;}
.flag.flag-sh {background-position: -96px -132px;}
.flag.flag-si {background-position: -112px -132px;}
.flag.flag-lo {background-position: -128px -132px;}
.flag.flag-sl {background-position: -144px -132px;}
.flag.flag-sm {background-position: -160px -132px;}
.flag.flag-sn {background-position: -176px -132px;}
.flag.flag-so {background-position: -192px -132px;}
.flag.flag-somaliland {background-position: -208px -132px;}
.flag.flag-ns {background-position: -224px -132px;}
.flag.flag-ss {background-position: -240px -132px;}
.flag.flag-tp {background-position: 0 -143px;}
.flag.flag-sv {background-position: -16px -143px;}
.flag.flag-sy {background-position: -32px -143px;}
.flag.flag-wz {background-position: -48px -143px;}
.flag.flag-tc {background-position: -64px -143px;}
.flag.flag-td {background-position: -80px -143px;}
.flag.flag-tf {background-position: -96px -143px;}
.flag.flag-to {background-position: -112px -143px;}
.flag.flag-th {background-position: -128px -143px;}
.flag.flag-ti {background-position: -144px -143px;}
.flag.flag-tk {background-position: -160px -143px;}
.flag.flag-tl {background-position: -176px -143px;}
.flag.flag-tx {background-position: -192px -143px;}
.flag.flag-ts {background-position: -208px -143px;}
.flag.flag-tn {background-position: -224px -143px;}
.flag.flag-tu {background-position: -240px -143px;}
.flag.flag-tt {background-position: 0 -154px;}
.flag.flag-tv {background-position: -16px -154px;}
.flag.flag-tw {background-position: -32px -154px;}
.flag.flag-tz {background-position: -48px -154px;}
.flag.flag-up {background-position: -64px -154px;}
.flag.flag-ug {background-position: -80px -154px;}
.flag.flag-um {background-position: -96px -154px;}
.flag.flag-us {background-position: -112px -154px;}
.flag.flag-uk {background-position: -176px -44px;}
.flag.flag-uy {background-position: -128px -154px;}
.flag.flag-uz {background-position: -144px -154px;}
.flag.flag-vt {background-position: -160px -154px;}
.flag.flag-vc {background-position: -176px -154px;}
.flag.flag-ve {background-position: -192px -154px;}
.flag.flag-vg {background-position: -208px -154px;}
.flag.flag-vi {background-position: -224px -154px;}
.flag.flag-vm {background-position: -240px -154px;}
.flag.flag-nh {background-position: 0 -165px;}
.flag.flag-wales {background-position: -16px -165px;}
.flag.flag-wf {background-position: -32px -165px;}
.flag.flag-ws {background-position: -48px -165px;}
.flag.flag-ym {background-position: -64px -165px;}
.flag.flag-mf {background-position: -80px -165px;}
.flag.flag-sf {background-position: -96px -165px;}
.flag.flag-zanzibar {background-position: -112px -165px;}
.flag.flag-za {background-position: -128px -165px;}
.flag.flag-zi {background-position: -144px -165px;}


.alert-hide-5s {
    display:block;
}
.alert-progress {
      width:0;
      height:4px;
      background:rgba(0,0,0,0.6);
      position:absolute;
      bottom:5px;
      left:2%;
      border-radius: 3px;
      box-shadow:
      inset 0 1px 1px rgba(0,0,0,0.05),
      0 -1px 0 rgba(255,255,255,0.6);
    }
.alert-hide-1s{
   -webkit-animation: fadeOut 1s linear forwards;
    -moz-animation: fadeOut 1s linear forwards;
    -o-animation: fadeOut 1s linear forwards;
    -ms-animation: fadeOut 1s linear forwards;
    animation: fadeOut 1s linear forwards;
}

.alert .alert-progress-1s {
    -webkit-animation: runProgress 0.8s linear forwards 0.1s;
    -moz-animation: runProgress 0.8s linear forwards 0.1s;
    -o-animation: runProgress 0.8s linear forwards 0.1s;
    -ms-animation: runProgress 0.8s linear forwards 0.1s;
    animation: runProgress 0.8s linear forwards 0.1s;
}

.alert-hide-2s{
   -webkit-animation: fadeOut 2s linear forwards;
    -moz-animation: fadeOut 2s linear forwards;
    -o-animation: fadeOut 2s linear forwards;
    -ms-animation: fadeOut 2s linear forwards;
    animation: fadeOut 2s linear forwards;
}

.alert .alert-progress-2s {
    -webkit-animation: runProgress 1.6s linear forwards 0.2s;
    -moz-animation: runProgress 1.6s linear forwards 0.2s;
    -o-animation: runProgress 1.6s linear forwards 0.2s;
    -ms-animation: runProgress 1.6s linear forwards 0.2s;
    animation: runProgress 1.6s linear forwards 0.2s;
}
.alert-hide-3s{
   -webkit-animation: fadeOut 3s linear forwards;
    -moz-animation: fadeOut 3s linear forwards;
    -o-animation: fadeOut 3s linear forwards;
    -ms-animation: fadeOut 3s linear forwards;
    animation: fadeOut 3s linear forwards;
}

.alert .alert-progress-3s {
    -webkit-animation: runProgress 2s linear forwards 0.5s;
    -moz-animation: runProgress 2s linear forwards 0.5s;
    -o-animation: runProgress 2s linear forwards 0.5s;
    -ms-animation: runProgress 2s linear forwards 0.5s;
    animation: runProgress 2s linear forwards 0.5s;
}
.alert-hide-4s{
   -webkit-animation: fadeOut 4s linear forwards;
    -moz-animation: fadeOut 4s linear forwards;
    -o-animation: fadeOut 4s linear forwards;
    -ms-animation: fadeOut 4s linear forwards;
    animation: fadeOut 4s linear forwards;
}

.alert .alert-progress-4s {
    -webkit-animation: runProgress 3s linear forwards 0.5s;
    -moz-animation: runProgress 3s linear forwards 0.5s;
    -o-animation: runProgress 3s linear forwards 0.5s;
    -ms-animation: runProgress 3s linear forwards 0.5s;
    animation: runProgress 3s linear forwards 0.5s;
}
.alert-hide-5s{
   -webkit-animation: fadeOut 5s linear forwards;
    -moz-animation: fadeOut 5s linear forwards;
    -o-animation: fadeOut 5s linear forwards;
    -ms-animation: fadeOut 5s linear forwards;
    animation: fadeOut 5s linear forwards;
}

.alert .alert-progress-5s {
    -webkit-animation: runProgress 4s linear forwards 0.5s;
    -moz-animation: runProgress 4s linear forwards 0.5s;
    -o-animation: runProgress 4s linear forwards 0.5s;
    -ms-animation: runProgress 4s linear forwards 0.5s;
    animation: runProgress 4s linear forwards 0.5s;
}
.alert-hide-6s{
   -webkit-animation: fadeOut 6s linear forwards;
    -moz-animation: fadeOut 6s linear forwards;
    -o-animation: fadeOut 6s linear forwards;
    -ms-animation: fadeOut 6s linear forwards;
    animation: fadeOut 6s linear forwards;
}

.alert .alert-progress-6s {
    -webkit-animation: runProgress 5s linear forwards 0.5s;
    -moz-animation: runProgress 5s linear forwards 0.5s;
    -o-animation: runProgress 5s linear forwards 0.5s;
    -ms-animation: runProgress 5s linear forwards 0.5s;
    animation: runProgress 5s linear forwards 0.5s;
}
.alert-hide-7s{
   -webkit-animation: fadeOut 7s linear forwards;
    -moz-animation: fadeOut 7s linear forwards;
    -o-animation: fadeOut 7s linear forwards;
    -ms-animation: fadeOut 7s linear forwards;
    animation: fadeOut 7s linear forwards;
}

.alert .alert-progress-7s {
    -webkit-animation: runProgress 6s linear forwards 0.5s;
    -moz-animation: runProgress 6s linear forwards 0.5s;
    -o-animation: runProgress 6s linear forwards 0.5s;
    -ms-animation: runProgress 6s linear forwards 0.5s;
    animation: runProgress 6s linear forwards 0.5s;
}

  
@-webkit-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  80% { opacity: 1; -webkit-transform: translateY(0px);}
  99% { opacity:0; height:auto; margin-bottom:10px; padding:15px; -webkit-transform: translateY(-30px);}
  100% {  opacity: 0; height:0; padding:0; margin:0; border:0;}
}

@-moz-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -moz-transform: translateY(0px);}
    99% { opacity:0; height:auto; margin-bottom:10px; padding:15px; -webkit-transform: translateY(-30px);}
  100% {  opacity: 0; height:0; padding-top:0; padding-bottom:0; margin-bottom:0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -o-transform: translateY(0px);}
    99% { opacity:0; height:auto; margin-bottom:10px; padding:15px; -webkit-transform: translateY(-30px);}
  100% {  opacity: 0; height:0; padding-top:0; padding-bottom:0; margin-bottom:0; }
}

@-ms-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -ms-transform: translateY(0px);}
    99% { opacity:0; height:auto; margin-bottom:10px; padding:15px; -webkit-transform: translateY(-30px);}
  100% {  opacity: 0; height:0; padding-top:0; padding-bottom:0; margin-bottom:0; }
}

@keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
    99% { opacity:0; height:auto; margin-bottom:10px; padding:15px; -webkit-transform: translateY(-30px);}
  100% {  opacity: 0; height:0; padding-top:0; padding-bottom:0; margin-bottom:0; }
}

@-webkit-keyframes runProgress {
  0%{ width: 0%; height:4px; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; height:4px; background: rgba(255,255,255,1); }
}

@-moz-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-o-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-ms-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}
