@font-face {
  font-family: 'Boogaloo';
  src: url("fonts/Boogaloo/Boogaloo-Regular-webfont.eot");
  src: url("fonts/Boogaloo/Boogaloo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Boogaloo/Boogaloo-Regular-webfont.woff") format("woff"), url("fonts/Boogaloo/Boogaloo-Regular-webfont.ttf") format("truetype"), url("fonts/Boogaloo/Boogaloo-Regular-webfont.svg#Boogaloo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alba';
  src: url("fonts/Alba/alba___-webfont.eot");
  src: url("fonts/Alba/alba___-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Alba/alba___-webfont.woff") format("woff"), url("fonts/Alba/alba___-webfont.ttf") format("truetype"), url("fonts/Alba/alba___-webfont.svg#Alba") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* SASS component */
/* clearfix extends (works >IE7 )   ex: .float-container{ @extend %clearfix;}*/
/* line 54, ../scss/style.scss */
#formSearch .sportCheckboxs:after, .calendar:after, .calendar .calendar-nav .calendar-content:after, .white-sheet:after, .event-header:after, .event-action-bar:after, .event-participants .block-content:after, .block-action:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

/* font sizing */
/* positionning */
/* media query */
/* line 95, ../scss/style.scss */
html {
  font-size: 62.5%;
  background-color: #1b3a43;
}

/* line 100, ../scss/style.scss */
body {
  /*The Helvetica/Arial-based sans serif */
}

/* line 104, ../scss/style.scss */
.mainContainer {
  background-color: #427b8b;
  padding-bottom: 200px;
}

/* line 109, ../scss/style.scss */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* line 110, ../scss/style.scss */
.container {
  position: relative;
}

/* line 112, ../scss/style.scss */
.navbar {
  background-color: #a3caea;
  font-family: 'Boogaloo';
  padding: 0 5%;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
/* line 121, ../scss/style.scss */
.navbar .weSport li a,
.navbar .nav li a {
  font-size: 28px;
  font-size: 2.8rem;
  color: #427b8b;
  line-height: 150%;
  padding: 0 30px;
  margin: 5px 0;
  text-shadow: 0 0 0 white;
}
/* line 130, ../scss/style.scss */
.navbar .weSport li a.currentPage, .navbar .weSport li a.currentPage:link, .navbar .weSport li a.currentPage:hover, .navbar .weSport li a.currentPage:visited, .navbar .weSport li a.currentPage:active,
.navbar .nav li a.currentPage,
.navbar .nav li a.currentPage:link,
.navbar .nav li a.currentPage:hover,
.navbar .nav li a.currentPage:visited,
.navbar .nav li a.currentPage:active {
  background: #1b3a43;
  color: #a3caea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 139, ../scss/style.scss */
.navbar .weSport {
  float: left;
  color: #1b3a43;
  margin: 5px 50px 0 0;
  font-size: 28px;
  font-size: 2.8rem;
  padding: 0 30px;
  line-height: 150%;
}
/* line 146, ../scss/style.scss */
.navbar .weSport i {
  font-style: normal;
  color: #0d83af;
}
/* line 147, ../scss/style.scss */
.navbar .weSport img {
  width: 30px;
}
/* line 154, ../scss/style.scss */
.navbar .nav.pull-right .nav-avatar {
  position: relative;
  height: 50px;
}
/* line 155, ../scss/style.scss */
.navbar .nav.pull-right form {
  display: none;
}
/* line 159, ../scss/style.scss */
.navbar .nav.pull-right li.dropdown ul li a {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0;
  padding: 20px 15px;
}
/* line 160, ../scss/style.scss */
.navbar .nav.pull-right li.dropdown ul li a:hover {
  color: #FFF;
}
/* line 161, ../scss/style.scss */
.navbar .nav.pull-right li.dropdown li.divider {
  margin: 0;
  border-bottom: 1px solid #DDD;
}
/* line 162, ../scss/style.scss */
.navbar .nav.pull-right li.dropdown a.dropdown-toggle {
  padding: 0;
}
/* line 163, ../scss/style.scss */
.navbar .nav.pull-right li.dropdown b.caret {
  vertical-align: middle;
  border-top: 10px solid #1b3a43;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
/* line 167, ../scss/style.scss */
.navbar .mobileMenu {
  display: none;
  float: left;
}
/* line 172, ../scss/style.scss */
.navbar .mobileMenu li.dropdown a.dropdown-toggle .caret {
  margin-top: 18px;
}
/* line 177, ../scss/style.scss */
.navbar .mobileMenu li ul li {
  text-align: center;
}
/* line 179, ../scss/style.scss */
.navbar .mobileMenu li ul li a {
  font-size: 26px;
  font-size: 2.6rem;
  margin: 0;
  padding: 10px 0;
}
/* line 184, ../scss/style.scss */
.navbar .mobileMenu li ul li a:hover {
  color: #FFF;
}
/* line 189, ../scss/style.scss */
.navbar .mobileMenu li ul li.divider {
  margin: 0;
  border-bottom: 1px solid #DDD;
}

/* line 200, ../scss/style.scss */
.fresque {
  width: 100%;
  height: 30px;
  background-color: white;
  background-image: url(../img/fresque.jpg);
  background-repeat: repeat-y;
  background-size: 100% 1px;
}

/* line 208, ../scss/style.scss */
.fresque-mini {
  height: 10px;
}

/* line 211, ../scss/style.scss */
.top-banner {
  width: 100%;
  padding: 5px 0;
  background-color: #1b3a43;
}
/* line 216, ../scss/style.scss */
.top-banner .void {
  width: 100%;
  height: 30px;
}

/* line 222, ../scss/style.scss */
.ws-icon {
  color: black;
  display: inline-block;
  vertical-align: middle;
}

/* line 227, ../scss/style.scss */
.ws-icon-small {
  font-size: 30px;
  font-size: 3rem;
}

/* line 230, ../scss/style.scss */
.ws-icon-large {
  font-size: 70px;
  font-size: 7rem;
}

/* line 233, ../scss/style.scss */
.ws-icon-small.ws-icon-halo {
  padding: 5px;
}

/* line 236, ../scss/style.scss */
.ws-icon-large.ws-icon-halo {
  padding: 10px;
}

/* line 239, ../scss/style.scss */
.ws-icon-halo {
  background-color: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/*
======= ALERTS
*/
/* line 246, ../scss/style.scss */
.flash {
  text-align: center;
}

/* line 249, ../scss/style.scss */
.alert {
  display: inline-block;
  margin: 0 5px 10px 5px;
  padding: 15px 25px;
  font-size: 18px;
  font-size: 1.8rem;
  background-color: #efefef;
  color: #cac8c8;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border-bottom: 5px solid #FFF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 261, ../scss/style.scss */
.alert p {
  margin: 0;
}
/* line 264, ../scss/style.scss */
.alert .close {
  display: inline;
  position: static;
  float: none;
}

/* line 270, ../scss/style.scss */
.alert-success {
  background-color: #a6d96a;
  color: #1a9850;
  border-color: #cc736e;
  border-bottom-color: #1a9850;
}

/* line 276, ../scss/style.scss */
.alert-error, .alert-danger {
  background-color: #bf4e48;
  color: #72001a;
  border-color: #d80032;
  border-bottom-color: #72001a;
}

/* line 282, ../scss/style.scss */
.alert-info {
  background-color: #fee08b;
  color: #eeb002;
  border-color: #feeebe;
  border-bottom-color: #eeb002;
}

/* line 288, ../scss/style.scss */
.alert-warning {
  background-color: #fdae61;
  color: #bf4e48;
  border-color: #fec893;
  border-bottom-color: #bf4e48;
}

/* Tooltip */
/* line 296, ../scss/style.scss */
.tooltip {
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 301, ../scss/style.scss */
#formSearch {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 307, ../scss/style.scss */
#formSearch .cityRounded {
  display: block;
  width: 50%;
  margin: 0 25%;
  padding: 10px 15px 10px 40px;
  background-color: #1b3a43;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: 0 0 0 20px #478495;
  -moz-box-shadow: 0 0 0 20px #478495;
  box-shadow: 0 0 0 20px #478495;
  border: 1px solid #FFF;
}
/* line 317, ../scss/style.scss */
#formSearch .cityRounded .cityInputs {
  position: relative;
  float: left;
  width: 80%;
  margin: 0;
  margin-top: 5px;
  padding: 0 30px;
}
/* line 326, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerExtend {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 20%;
  overflow: hidden;
}
/* line 332, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerExtend #extend {
  height: 100%;
  width: 150%;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Alba';
  color: #FFF;
  line-height: 100%;
  border: 0;
  vertical-align: middle;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: window;
}
/* line 333, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerExtend #extend option {
  background-color: #1b3a43;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px;
  font-weight: bold;
}
/* line 335, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName {
  float: left;
  width: 80%;
}
/* line 337, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName #cityName {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 100%;
  border: 0;
  background-color: transparent;
}
/* line 338, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead {
  width: 100%;
}
/* line 339, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead > input {
  height: 100%;
  width: 100%;
}
/* line 340, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead > input {
  font-size: 45px;
  font-size: 4.5rem;
  background: transparent;
  font-family: 'Alba',Helvetica,Arial,sans-serif;
  outline: 0;
}
/* line 341, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead > #cityName {
  color: white;
}
/* line 342, ../scss/style.scss */
#formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead .tt-hint {
  font-size: 45px;
  font-size: 4.5rem;
  color: #DDD;
  color: rgba(255, 255, 255, 0.5);
  margin-left: -6px;
  margin-bottom: 0;
}
/* line 346, ../scss/style.scss */
#formSearch .cityRounded .cityAriane {
  float: left;
  width: 74%;
  margin: 0 3%;
  padding-top: 5px;
  color: #FFF;
  border-top: 2px solid #FFF;
}
/* line 355, ../scss/style.scss */
#formSearch .cityRounded .citySubmit {
  float: right;
  background-color: #a3caea;
  border: 12px solid #427b8b;
  border-radius: 100px;
  padding: 15px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
/* line 363, ../scss/style.scss */
#formSearch .cityRounded .citySubmit .ws-icon-loupe {
  color: #FFF;
  font-size: 55px;
  font-size: 5.5rem;
}
/* line 371, ../scss/style.scss */
#formSearch .cityRounded .citySubmit:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 378, ../scss/style.scss */
#formSearch .sportCheckboxs {
  width: 100%;
  margin: 40px 0 10px 0;
}
/* line 383, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice {
  float: left;
  position: relative;
  margin: 0 6px 2px 6px;
}
/* line 387, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice input {
  z-index: 2;
  position: absolute;
  left: 30%;
  top: 30%;
  visibility: hidden;
}
/* line 394, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice label {
  z-index: 1;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  background-color: #FFF;
  border: 10px solid #FFF;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 405, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice label span {
  font-size: 35px;
  font-size: 3.5rem;
  margin: 2px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
/* line 411, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice label:hover {
  margin-top: -15%;
  border-color: #a3caea;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 415, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice label:hover span.ws-icon {
  font-size: 60px;
  font-size: 6rem;
}
/* line 419, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice input:checked ~ label {
  margin-top: -15%;
  border-color: #1b3a43;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 423, ../scss/style.scss */
#formSearch .sportCheckboxs .sportChoice input:checked ~ label span.ws-icon {
  font-size: 60px;
  font-size: 6rem;
}
/* line 430, ../scss/style.scss */
#formSearch .sportSelect {
  position: absolute;
  top: 0;
  right: 80%;
}
/* line 435, ../scss/style.scss */
#formSearch .sportSelect label {
  text-align: center;
  color: #1b3a43;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
}

/* line 445, ../scss/style.scss */
.calendar {
  background-image: url(../img/fresque.jpg);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  position: relative;
}
/* line 451, ../scss/style.scss */
.calendar .calendar-header {
  background-color: #1b3a43;
  width: 100%;
  height: 25px;
  position: relative;
}
/* line 457, ../scss/style.scss */
.calendar .calendar-header .calendar-loader {
  width: 100%;
  text-align: center;
}
/* line 461, ../scss/style.scss */
.calendar .calendar-header .calendar-loader span.text {
  display: none;
  color: #FFF;
  font-size: 10px;
  font-size: 1rem;
}
/* line 469, ../scss/style.scss */
.calendar .calendar-header .fresque {
  position: absolute;
  bottom: 0px;
  height: 10px;
  width: 100%;
  display: none;
}
/* line 481, ../scss/style.scss */
.calendar .calendar-nav .colomn-nav {
  width: 5%;
}
/* line 484, ../scss/style.scss */
.calendar .calendar-nav .colomn-prev {
  background-color: #bf4e48;
}
/* line 486, ../scss/style.scss */
.calendar .calendar-nav .colomn-prev a.calendar-nav-prev {
  float: right;
}
/* line 493, ../scss/style.scss */
.calendar .calendar-nav .colomn-next {
  background-color: #1a9850;
}
/* line 495, ../scss/style.scss */
.calendar .calendar-nav .colomn-next a.calendar-nav-next {
  float: left;
  margin-left: -2px;
}
/* line 504, ../scss/style.scss */
.calendar .calendar-nav .calendar-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 511, ../scss/style.scss */
.calendar .calendar-nav .calendar-content .events-week {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* line 519, ../scss/style.scss */
.calendar .calendar-nav .calendar-content .events-week .colomn-past {
  background-color: #AAA;
  -webkit-box-shadow: inset 0 0 0 30px #999999;
  -moz-box-shadow: inset 0 0 0 30px #999999;
  box-shadow: inset 0 0 0 30px #999999;
  color: #888;
}
/* line 524, ../scss/style.scss */
.calendar .calendar-nav .calendar-content .events-week .colomn-past .colomn-date {
  position: relative;
  background-color: #999;
}
/* line 528, ../scss/style.scss */
.calendar .calendar-nav .calendar-content .events-week .colomn-past .colomn-date:after {
  content: 'PAST';
  background-color: #999;
  color: #AAA;
  font-family: 'Arial black',Arial;
  font-size: 60px;
  font-size: 6rem;
  position: absolute;
  top: 120%;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: block;
  font-weight: bold;
  text-shadow: 0 0 0 black;
}
/* line 551, ../scss/style.scss */
.calendar .calendar-footer {
  background: #1b3a43;
  width: 100%;
  height: 50px;
  border-bottom: 10px solid #2a5967;
}
/* line 558, ../scss/style.scss */
.calendar .colomn-date {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* line 564, ../scss/style.scss */
.calendar .colomn-date a {
  color: white;
}
/* line 567, ../scss/style.scss */
.calendar .colomn-date strong {
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem;
}
/* line 571, ../scss/style.scss */
.calendar .colomn-date i {
  font-style: normal;
}
/* line 577, ../scss/style.scss */
.calendar table {
  table-layout: fixed;
  width: 100%;
  min-height: 1000px;
}
/* line 584, ../scss/style.scss */
.calendar table tr {
  height: 100%;
  min-height: 1000px;
}
/* line 586, ../scss/style.scss */
.calendar table td {
  vertical-align: top;
}
/* line 587, ../scss/style.scss */
.calendar table td.colomn-1 {
  background-color: #f46d43;
  -webkit-box-shadow: inset 0 0 0 30px #f36235;
  -moz-box-shadow: inset 0 0 0 30px #f36235;
  box-shadow: inset 0 0 0 30px #f36235;
}
/* line 588, ../scss/style.scss */
.calendar table td.colomn-2 {
  background-color: #fdae61;
  -webkit-box-shadow: inset 0 0 0 30px #fda652;
  -moz-box-shadow: inset 0 0 0 30px #fda652;
  box-shadow: inset 0 0 0 30px #fda652;
}
/* line 589, ../scss/style.scss */
.calendar table td.colomn-3 {
  background-color: #fee08b;
  -webkit-box-shadow: inset 0 0 0 30px #fedc7c;
  -moz-box-shadow: inset 0 0 0 30px #fedc7c;
  box-shadow: inset 0 0 0 30px #fedc7c;
}
/* line 590, ../scss/style.scss */
.calendar table td.colomn-4 {
  background-color: #ffffbf;
  -webkit-box-shadow: inset 0 0 0 30px #ffffb0;
  -moz-box-shadow: inset 0 0 0 30px #ffffb0;
  box-shadow: inset 0 0 0 30px #ffffb0;
}
/* line 591, ../scss/style.scss */
.calendar table td.colomn-5 {
  background-color: #d9ef8b;
  -webkit-box-shadow: inset 0 0 0 30px #d5ed7e;
  -moz-box-shadow: inset 0 0 0 30px #d5ed7e;
  box-shadow: inset 0 0 0 30px #d5ed7e;
}
/* line 592, ../scss/style.scss */
.calendar table td.colomn-6 {
  background-color: #a6d96a;
  -webkit-box-shadow: inset 0 0 0 30px #9fd65e;
  -moz-box-shadow: inset 0 0 0 30px #9fd65e;
  box-shadow: inset 0 0 0 30px #9fd65e;
}
/* line 593, ../scss/style.scss */
.calendar table td.colomn-7 {
  background-color: #66bd63;
  -webkit-box-shadow: inset 0 0 0 30px #5bb858;
  -moz-box-shadow: inset 0 0 0 30px #5bb858;
  box-shadow: inset 0 0 0 30px #5bb858;
}
/* line 595, ../scss/style.scss */
.calendar table td.colomn-1 .colomn-date {
  background-color: #f36235;
}
/* line 596, ../scss/style.scss */
.calendar table td.colomn-2 .colomn-date {
  background-color: #fda652;
}
/* line 597, ../scss/style.scss */
.calendar table td.colomn-3 .colomn-date {
  background-color: #fedc7c;
}
/* line 598, ../scss/style.scss */
.calendar table td.colomn-4 .colomn-date {
  background-color: #ffffb0;
}
/* line 599, ../scss/style.scss */
.calendar table td.colomn-5 .colomn-date {
  background-color: #d5ed7e;
}
/* line 600, ../scss/style.scss */
.calendar table td.colomn-6 .colomn-date {
  background-color: #9fd65e;
}
/* line 601, ../scss/style.scss */
.calendar table td.colomn-7 .colomn-date {
  background-color: #5bb858;
}
/* line 604, ../scss/style.scss */
.calendar table td.colomn-last a img {
  margin-left: -5px;
}
/* line 607, ../scss/style.scss */
.calendar table td.colomn-first a img {
  margin-right: -5px;
}
/* line 611, ../scss/style.scss */
.calendar table .events {
  width: 96%;
  margin: 5px auto;
  padding: 10px;
  min-height: 100px;
  background-color: #FFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 623, ../scss/style.scss */
.calendar table .events .events-link:hover .events-content .events-title {
  color: #1b3a43;
}
/* line 629, ../scss/style.scss */
.calendar table .events .events-time {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  color: #d0d0d0;
}
/* line 634, ../scss/style.scss */
.calendar table .events .events-time .label-confirmed {
  font-size: 10px;
  font-size: 1rem;
}
/* line 635, ../scss/style.scss */
.calendar table .events .events-time .label-participe {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 639, ../scss/style.scss */
.calendar table .events .events-content .events-title {
  position: relative;
  float: left;
  color: #427b8b;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0 0 0;
}
/* line 647, ../scss/style.scss */
.calendar table .events .events-content .ws-sport-icon {
  float: left;
  margin-right: 5px;
  margin-top: -5px;
}
/* line 651, ../scss/style.scss */
.calendar table .events .events-content .ws-sport-icon span {
  font-size: 35px;
  font-size: 3.5rem;
  color: #000;
}

/* line 661, ../scss/style.scss */
.white-sheet {
  background-color: #FFF;
  position: relative;
}

/* line 666, ../scss/style.scss */
.calendar-return {
  position: absolute;
  top: 200px;
  left: -20px;
  width: 50px;
  height: 50px;
  background-image: url(../img/fresque.jpg);
  background-repeat: repeat-y;
  background-size: 100% 1px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 678, ../scss/style.scss */
.calendar-return a {
  width: 50px;
  height: 50px;
  display: block;
}

/* line 686, ../scss/style.scss */
.calendar-return:hover {
  left: -50px;
}

/* line 690, ../scss/style.scss */
.head-sheet {
  width: 100%;
  background: #efefef;
  border-bottom: 1px solid #d5d5d5;
  padding: 20px 0;
  text-align: center;
}

/* line 698, ../scss/style.scss */
h1.title-sheet {
  margin: 0;
  padding: 0;
  font-family: Verdana,sans-serif;
  font-size: 25px;
  font-size: 2.5rem;
  color: #1b3a43;
  text-transform: uppercase;
}

/*
======= CONNEXION
*/
/* line 712, ../scss/style.scss */
.form-ws {
  margin-top: 20px;
}
/* line 717, ../scss/style.scss */
.form-ws .control-group {
  margin-bottom: 10px;
}
/* line 720, ../scss/style.scss */
.form-ws .control-group label {
  color: #AAA;
}
/* line 721, ../scss/style.scss */
.form-ws .control-group label.control-label {
  float: left;
  width: 16%;
  color: #427b8b;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
/* line 723, ../scss/style.scss */
.form-ws .control-group .controls {
  float: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* line 728, ../scss/style.scss */
.form-ws .control-group .controls label.checkbox {
  width: auto;
}
/* line 730, ../scss/style.scss */
.form-ws .control-group input[type=text], .form-ws .control-group input[type=password], .form-ws .control-group input[type=email], .form-ws .control-group select {
  color: #888;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 100%;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 4px #e2e2e2;
  -moz-box-shadow: 0 0 0 4px #e2e2e2;
  box-shadow: 0 0 0 4px #e2e2e2;
}
/* line 731, ../scss/style.scss */
.form-ws .control-group input[type=text]:focus, .form-ws .control-group input[type=password]:focus, .form-ws .control-group input[type=email]:focus, .form-ws .control-group select:focus {
  -webkit-box-shadow: 0 0 0 3px #fdae61;
  -moz-box-shadow: 0 0 0 3px #fdae61;
  box-shadow: 0 0 0 3px #fdae61;
}
/* line 733, ../scss/style.scss */
.form-ws .control-group input.inline, .form-ws .control-group select.inline {
  float: left;
  margin-right: 12px;
}
/* line 735, ../scss/style.scss */
.form-ws .control-group .select2-container {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 5px #e2e2e2;
  -moz-box-shadow: 0 0 0 5px #e2e2e2;
  box-shadow: 0 0 0 5px #e2e2e2;
  margin-bottom: 10px;
}
/* line 736, ../scss/style.scss */
.form-ws .control-group .select2-container .select2-search {
  -webkit-box-shadow: 0 0 0 0px black;
  -moz-box-shadow: 0 0 0 0px black;
  box-shadow: 0 0 0 0px black;
}
/* line 737, ../scss/style.scss */
.form-ws .control-group .select2-container .select2-focused:focus {
  -webkit-box-shadow: 0 0 0 0px black;
  -moz-box-shadow: 0 0 0 0px black;
  box-shadow: 0 0 0 0px black;
}
/* line 738, ../scss/style.scss */
.form-ws .control-group .select2-container:focus .select2-choice {
  -webkit-box-shadow: 0 0 0 3px #fdae61;
  -moz-box-shadow: 0 0 0 3px #fdae61;
  box-shadow: 0 0 0 3px #fdae61;
}
/* line 739, ../scss/style.scss */
.form-ws .control-group .select2-choice {
  height: auto;
  padding: 5px 0 5px 10px;
  border: 1px solid #CCC;
}
/* line 742, ../scss/style.scss */
.form-ws .control-submit {
  text-align: center;
  width: 100%;
  margin: 0;
}
/* line 747, ../scss/style.scss */
.form-ws .control-submit input[type=submit], .form-ws .control-submit input[type=button] {
  display: inline-block;
  float: none;
  padding: 10px 12%;
  margin: 20px 0 20px 0;
}
/* line 753, ../scss/style.scss */
.form-ws .control-submit p.help {
  width: 100%;
  margin: 10px 0;
}
/* line 757, ../scss/style.scss */
.form-ws .control-submit p.help-center {
  text-align: center;
}

/* line 765, ../scss/style.scss */
.form.label-hidden .control-group {
  margin: 5px 15%;
}
/* line 767, ../scss/style.scss */
.form.label-hidden .control-group label.control-label {
  display: none;
}
/* line 769, ../scss/style.scss */
.form.label-hidden .control-submit {
  width: 100%;
  margin: 0;
}

/* line 776, ../scss/style.scss */
.btn-ws {
  padding: 10px 30px;
  margin: 0;
  color: #FFF;
  border: 0px solid #000;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea, 3px 3px 0 0 #a3caea, 4px 4px 0 0 #a3caea;
  -moz-box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea, 3px 3px 0 0 #a3caea, 4px 4px 0 0 #a3caea;
  box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea, 3px 3px 0 0 #a3caea, 4px 4px 0 0 #a3caea;
  font-size: 18px;
  font-size: 1.8rem;
  background-color: #427b8b;
}

/* line 787, ../scss/style.scss */
.btn-ws:hover {
  color: #EFEFEF;
}

/* line 788, ../scss/style.scss */
.btn-ws:active {
  margin-top: 2px;
  margin-left: 2px;
  -webkit-box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea;
  -moz-box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea;
  box-shadow: 1px 1px 0 0 #a3caea, 2px 2px 0 0 #a3caea;
}

/* line 790, ../scss/style.scss */
.btn-ws-small {
  padding: 5px 15px;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 794, ../scss/style.scss */
.btn-ws-success {
  background-color: #66bd63;
  color: white;
}

/* line 801, ../scss/style.scss */
.register .form-register {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  border-right: 1px solid #DDD;
}
/* line 807, ../scss/style.scss */
.register .form-facebook {
  float: left;
  width: 45%;
  border: 0;
  padding-bottom: 50px;
  text-align: center;
}
/* line 815, ../scss/style.scss */
.register p.intro {
  text-align: center;
  color: #888;
  margin: 20px 0;
}

/*======
==== Event Create
======*/
/* line 827, ../scss/style.scss */
.createEvent .twitter-typeahead {
  width: 100%;
}
/* line 828, ../scss/style.scss */
.createEvent .col_small {
  padding: 0;
  padding-top: 30px;
}
/* line 831, ../scss/style.scss */
.createEvent .col_small .form-submit {
  text-align: center;
}
/* line 833, ../scss/style.scss */
.createEvent .col_small .form-submit input[type=submit] {
  display: inline;
  padding: 10px 10%;
}

/*======
==== Event View
======*/
/* line 847, ../scss/style.scss */
.event-header {
  width: 100%;
  padding: 20px 2% 10px 2%;
  background-color: #efefef;
}
/* line 853, ../scss/style.scss */
.event-header div.event-title {
  float: left;
  width: 70%;
}
/* line 857, ../scss/style.scss */
.event-header div.event-title h1 {
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'Boogaloo',Helvetica,Arial;
  color: #427b8b;
  font-weight: normal;
  font-size: 35px;
  font-size: 3.5rem;
}
/* line 870, ../scss/style.scss */
.event-header div.event-orga {
  float: right;
  width: 30%;
}
/* line 874, ../scss/style.scss */
.event-header div.event-orga div.orga-info {
  float: right;
  text-align: right;
  margin-right: 10px;
  padding-top: 10px;
}
/* line 880, ../scss/style.scss */
.event-header div.event-orga div.orga-info span {
  display: block;
  width: 100%;
  color: #AAA;
}
/* line 885, ../scss/style.scss */
.event-header div.event-orga div.orga-info span.orga-name {
  font-weight: normal;
  font-family: 'Boogaloo';
  font-size: 22px;
  font-size: 2.2rem;
  text-transform: capitalize;
}
/* line 890, ../scss/style.scss */
.event-header div.event-orga div.orga-info span.orga-name a {
  color: #427b8b;
}
/* line 892, ../scss/style.scss */
.event-header div.event-orga div.orga-info small {
  border-bottom: 1px solid #CCC;
}
/* line 897, ../scss/style.scss */
.event-header div.event-orga div.orga-avatar {
  float: right;
}
/* line 899, ../scss/style.scss */
.event-header div.event-orga div.orga-avatar img {
  height: 100px;
  padding: 2px;
  border: 1px solid #CCC;
}

/* line 904, ../scss/style.scss */
.event-action-bar {
  width: 100%;
  padding: 7px 5% 10px 5%;
  text-align: right;
  border-top: 4px solid #D0D0D0;
}
/* line 911, ../scss/style.scss */
.event-action-bar .event-status {
  float: right;
}
/* line 913, ../scss/style.scss */
.event-action-bar .event-status .label {
  padding: 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 914, ../scss/style.scss */
.event-action-bar .event-status span.nb-participant {
  font-size: 12px;
  font-size: 1.2rem;
  margin-left: 5px;
}
/* line 919, ../scss/style.scss */
.event-action-bar .event-action {
  float: left;
  margin-top: 3px;
}
/* line 922, ../scss/style.scss */
.event-action-bar .event-action a.btn-ws {
  padding: 5px 10px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #427b8b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 black;
  -moz-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
}
/* line 930, ../scss/style.scss */
.event-action-bar .event-action a.btn-ws-success {
  background-color: #66bd63;
}

/* line 937, ../scss/style.scss */
.event-pending {
  background-color: #e3e2e2;
  color: #888888;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 942, ../scss/style.scss */
.event-confirmed {
  background-color: #a3d2a3;
  color: #5b894a;
}

/* line 946, ../scss/style.scss */
.event-finished {
  background-color: #BBB;
  color: #FFF;
  text-align: left;
}
/* line 950, ../scss/style.scss */
.event-finished span.label {
  background-color: #666;
}

/* line 955, ../scss/style.scss */
div.col_large {
  float: left;
  width: 600px;
  min-height: 300px;
  padding: 10px 5px 0 40px;
}
/* line 961, ../scss/style.scss */
div.col_large h2.event-info {
  font-size: 22px;
  font-size: 2.2rem;
  color: #1b3a43;
}
/* line 965, ../scss/style.scss */
div.col_large h2.event-info span {
  padding: 8px;
  background-color: #FFF;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 970, ../scss/style.scss */
div.col_large h2.event-info small {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 976, ../scss/style.scss */
div.col_small {
  float: left;
  width: 340px;
  min-height: 300px;
  padding: 10px 0px 0 40px;
}

/* line 983, ../scss/style.scss */
.block {
  margin-bottom: 20px;
}
/* line 986, ../scss/style.scss */
.block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 991, ../scss/style.scss */
.block h3 {
  padding: 8px 0 8px 30px;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
  background-color: #BBB;
  -webkit-box-shadow: inset 10px 0 0 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 10px 0 0 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 10px 0 0 0px rgba(0, 0, 0, 0.05);
}
/* line 1000, ../scss/style.scss */
.block .block-content {
  padding: 20px 5px 10px 30px;
  background-color: #CCC;
  font-size: 14px;
  font-size: 1.4rem;
  color: #888;
}
/* line 1005, ../scss/style.scss */
.block .block-content a {
  padding: 5px;
  line-height: 14px;
}
/* line 1009, ../scss/style.scss */
.block .block-content a img {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  padding: 1px;
  border: 1px solid #AAA;
}
/* line 1018, ../scss/style.scss */
.block .block-content a strong {
  float: left;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: capitalize;
}
/* line 1023, ../scss/style.scss */
.block .block-content a small {
  float: left;
  font-size: 9px;
  font-size: 0.9rem;
  color: #AAA;
}
/* line 1029, ../scss/style.scss */
.block .block-content ul {
  margin: 0;
  list-style: none;
}
/* line 1032, ../scss/style.scss */
.block .block-content ul li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #AAA;
  margin: 0 0 5px 0;
}
/* line 1037, ../scss/style.scss */
.block .block-content ul li span {
  display: inline-block;
  vertical-align: middle;
}
/* line 1041, ../scss/style.scss */
.block .block-content ul li img {
  width: 30px;
  height: 30px;
  padding: 1px;
  border: 1px solid #AAA;
}
/* line 1047, ../scss/style.scss */
.block .block-content ul li a {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #427b8b;
}
/* line 1056, ../scss/style.scss */
.block .block-content a {
  font-size: 10px;
  font-size: 1rem;
}
/* line 1059, ../scss/style.scss */
.block .block-content .bottom_link {
  font-size: 10px;
  font-size: 1rem;
}

/* line 1064, ../scss/style.scss */
.block-yellow h3 {
  background-color: #ffffbf;
  color: #9e9e34;
}
/* line 1068, ../scss/style.scss */
.block-yellow .block-content {
  background-color: #ffffeb;
}
/* line 1070, ../scss/style.scss */
.block-yellow .block-content .bottom_link {
  color: #9e9e34;
}

/* line 1074, ../scss/style.scss */
.block-red h3 {
  background-color: #fdae61;
  color: #bf4e48;
}
/* line 1078, ../scss/style.scss */
.block-red .block-content {
  background-color: #ffe3c7;
}
/* line 1080, ../scss/style.scss */
.block-red .block-content .bottom_link {
  color: #bf4e48;
}

/* line 1084, ../scss/style.scss */
.block-green h3 {
  background-color: #a6d96a;
  color: #1a9850;
}
/* line 1088, ../scss/style.scss */
.block-green .block-content {
  background-color: #d9ef8b;
}
/* line 1090, ../scss/style.scss */
.block-green .block-content .bottom_link {
  color: #1a9850;
}

/* line 1094, ../scss/style.scss */
.block-orange h3, .event-userreview h3 {
  background-color: #fee08b;
  color: #fc942f;
}
/* line 1098, ../scss/style.scss */
.block-orange .block-content, .event-userreview .block-content {
  background-color: #fff4d4;
}
/* line 1100, ../scss/style.scss */
.block-orange .block-content .bottom_link, .event-userreview .block-content .bottom_link {
  color: #fc942f;
}

/* line 1103, ../scss/style.scss */
.event-discussion, .event-description {
  margin-top: 30px;
  border-top: 2px solid #efefef;
}
/* line 1106, ../scss/style.scss */
.event-discussion h3, .event-description h3 {
  padding-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #AAA;
}
/* line 1114, ../scss/style.scss */
.event-discussion .block-content, .event-description .block-content {
  color: #888888;
  padding-left: 25px;
}

/* line 1120, ../scss/style.scss */
.event-participants .block-content {
  padding: 0;
}
/* line 1123, ../scss/style.scss */
.event-participants .block-content a {
  display: block;
  float: left;
  width: 50%;
}

/* line 1131, ../scss/style.scss */
.event-map .block-content {
  padding: 0;
}
/* line 1134, ../scss/style.scss */
.event-map #eventmap {
  width: 300px;
}

/* line 1138, ../scss/style.scss */
.block-action {
  text-align: center;
  padding: 50px;
}
/* line 1142, ../scss/style.scss */
.block-action a {
  background-color: #427b8b;
  padding: 15px 40px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 1147, ../scss/style.scss */
.block-action a.btn-link {
  background-color: transparent;
}

/* line 1151, ../scss/style.scss */
.event-reviews .block-content {
  padding: 10px 20px;
}

/* line 1156, ../scss/style.scss */
.event-to-come .block-content {
  padding: 10px 20px;
}

/* line 1162, ../scss/style.scss */
.event-userreview label[for=review] {
  font-weight: bold;
}
/* line 1165, ../scss/style.scss */
.event-userreview input[name=review] {
  width: 400px;
  font-size: 14px;
  font-size: 1.4rem;
  height: auto;
  padding: 5px 6px;
  margin: 0;
}
/* line 1172, ../scss/style.scss */
.event-userreview input[type=submit] {
  margin-top: -7px;
}

/*======
==== User view
===*/
/* line 1183, ../scss/style.scss */
.viewuser .user-header {
  width: 100%;
  padding: 20px 2% 20px 2%;
  background-color: #efefef;
  overflow: hidden;
}
/* line 1189, ../scss/style.scss */
.viewuser .user-header .user-avatar {
  float: left;
  width: 120px;
  height: 100px;
  padding-top: 5px;
}
/* line 1194, ../scss/style.scss */
.viewuser .user-header .user-avatar img {
  width: 90px;
  height: 90px;
  padding: 2px;
  border: 1px solid #AAA;
}
/* line 1202, ../scss/style.scss */
.viewuser .user-header .user-login h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-size: 4rem;
  color: #427b8b;
  text-transform: capitalize;
  font-family: 'Boogaloo';
  font-weight: normal;
}
/* line 1211, ../scss/style.scss */
.viewuser .user-header .user-login span {
  font-size: 12px;
  font-size: 1.2rem;
  color: #888888;
}
/* line 1218, ../scss/style.scss */
.viewuser .user-status {
  width: 100%;
  padding: 5px 1% 5px 3%;
  overflow: hidden;
}
/* line 1223, ../scss/style.scss */
.viewuser .user-status .count_activity {
  float: left;
  width: 50%;
  text-align: left;
  line-height: 200%;
}
/* line 1229, ../scss/style.scss */
.viewuser .user-status .count_activity span.label {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 1231, ../scss/style.scss */
.viewuser .user-status .which_activity {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 1238, ../scss/style.scss */
.viewuser .col_large {
  width: 550px;
}
/* line 1242, ../scss/style.scss */
.viewuser .col_small {
  width: 390px;
}
/* line 1248, ../scss/style.scss */
.viewuser .col_small .event-review ul li span {
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 1250, ../scss/style.scss */
.viewuser .col_small .event-review ul li small a {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  font-size: 1.2rem;
  color: #888888;
}
/* line 1256, ../scss/style.scss */
.viewuser .col_small .event-review ul li small a:hover {
  text-decoration: underline;
}

/*=======
== ACCOUNT
=======*/
/* line 1271, ../scss/style.scss */
#account .col_small .module {
  padding: 10px 5%;
}
/* line 1273, ../scss/style.scss */
#account .col_small .profil .useravatar {
  margin-right: 5px;
}
/* line 1274, ../scss/style.scss */
#account .col_small .profil .username {
  font-weight: bold;
  text-transform: capitalize;
}
/* line 1276, ../scss/style.scss */
#account .col_small .menu {
  padding: 0;
}
/* line 1278, ../scss/style.scss */
#account .col_small .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1282, ../scss/style.scss */
#account .col_small .menu ul li {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 10px 0 10px 5%;
  border-bottom: 1px solid #CCC;
}
/* line 1287, ../scss/style.scss */
#account .col_small .menu ul li i.icon {
  margin-right: 5px;
}
/* line 1288, ../scss/style.scss */
#account .col_small .menu ul li a {
  color: #427b8b;
}
/* line 1290, ../scss/style.scss */
#account .col_small .menu ul li:last-child {
  border-bottom: 0;
}
/* line 1291, ../scss/style.scss */
#account .col_small .menu ul li:hover {
  background-color: #FFF;
}
/* line 1292, ../scss/style.scss */
#account .col_small .menu ul li:hover a {
  color: #1b3a43;
}
/* line 1297, ../scss/style.scss */
#account .col_large {
  padding: 10px;
}
/* line 1299, ../scss/style.scss */
#account .col_large .module {
  padding: 10px 1%;
}
/* line 1300, ../scss/style.scss */
#account .col_large #account-form {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1303, ../scss/style.scss */
#account .col_large #account-form label {
  width: 20%;
}
/* line 1306, ../scss/style.scss */
#account .col_large #account-form label.checkbox {
  width: auto;
  float: none;
}
/* line 1312, ../scss/style.scss */
#account .col_large #account-form.form-mailing .controls {
  width: 100%;
}
/* line 1316, ../scss/style.scss */
#account .module {
  background-color: #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 black;
  -moz-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
}
/* line 1322, ../scss/style.scss */
#account .col_small, #account .col_large {
  padding-top: 40px;
}

/*
===========
==== COMMENTAIRE
===========
*/
/* line 1333, ../scss/style.scss */
#commentForm {
  margin: 0;
}
/* line 1337, ../scss/style.scss */
#commentForm textarea[disabled=disabled] {
  width: 80%;
}
/* line 1340, ../scss/style.scss */
#commentForm .userAvatarCommentForm {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
/* line 1346, ../scss/style.scss */
#commentForm .commentFormFields {
  float: left;
  width: 90%;
}
/* line 1349, ../scss/style.scss */
#commentForm .commentFormFields textarea {
  width: 70%;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}

/* line 1355, ../scss/style.scss */
#tri {
  margin-bottom: 0;
}

/* line 1358, ../scss/style.scss */
.commentFilter {
  float: left;
  width: 100%;
}

/* line 1363, ../scss/style.scss */
#comments {
  float: left;
  width: 100%;
}
/* line 1367, ../scss/style.scss */
#comments .post {
  margin-bottom: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0 black;
  -moz-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
  background-color: #F0F0F0;
}

/* line 1375, ../scss/style.scss */
#bottomComments {
  float: left;
  width: 100%;
}
/* line 1379, ../scss/style.scss */
#bottomComments div, #bottomComments a {
  width: 100%;
  display: block;
  display: none;
  text-align: center;
  background-color: #efefef;
  color: #888888;
}

/* line 1388, ../scss/style.scss */
#hiddenFormReply {
  display: none;
}

/*
============
=== FOOTER ==
============
*/
/* line 1396, ../scss/style.scss */
.footer {
  width: 100%;
  border-top: 15px solid #a3caea;
  -webkit-box-shadow: 0 -35px 60px rgba(163, 202, 234, 0.7);
  -moz-box-shadow: 0 -35px 60px rgba(163, 202, 234, 0.7);
  box-shadow: 0 -35px 60px rgba(163, 202, 234, 0.7);
  background-color: #1b3a43;
  padding: 20px 5%;
}
/* line 1403, ../scss/style.scss */
.footer ul li {
  display: inline-block;
  margin: 0 40px;
}
/* line 1404, ../scss/style.scss */
.footer ul li a, .footer ul li a:link, .footer ul li a:visited {
  font-family: Verdana,sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #a3caea;
  text-transform: uppercase;
}
/* line 1410, ../scss/style.scss */
.footer ul li a:hover, .footer ul li a:active {
  text-decoration: underline;
}
/* line 1414, ../scss/style.scss */
.footer .copyright {
  text-align: center;
  font-size: 10px;
  font-size: 1rem;
  color: #427b8b;
}

/*
======================
TYPEAHEAD CUSTOM STYLE
=====================*/
/* line 1421, ../scss/style.scss */
.tt-dropdown-menu {
  width: 100%;
  padding: 8px 0;
  text-align: left;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 1424, ../scss/style.scss */
.tt-suggestion {
  padding: 8px 20px;
}

/* line 1425, ../scss/style.scss */
.tt-name {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #888;
}

/* line 1426, ../scss/style.scss */
.tt-sub {
  font-size: 15px;
  font-size: 1.5rem;
  font-style: italic;
  color: #999;
}

/* line 1427, ../scss/style.scss */
.tt-id {
  font-size: 8px;
  font-size: 0.8rem;
  color: #AAA;
  display: none;
}

/* line 1428, ../scss/style.scss */
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097cf;
}

/* line 1429, ../scss/style.scss */
.tt-suggestion.tt-is-under-cursor p {
  color: white;
}

/* ==============
=====*/
/* reset chrome style for select inputs */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 1435, ../scss/style.scss */
  select {
    -webkit-appearance: none;
    appearance: none;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px) {
  /* line 1441, ../scss/style.scss */
  .navbar {
    padding: 0 1%;
  }

  /* line 1442, ../scss/style.scss */
  .navbar .weSport {
    margin: 5px 5px 0 5px;
    padding: 0;
  }

  /* line 1443, ../scss/style.scss */
  .navbar .desktopMenu {
    display: none;
  }

  /* line 1444, ../scss/style.scss */
  .navbar .mobileMenu {
    display: block;
  }
  /* line 1447, ../scss/style.scss */
  .navbar .mobileMenu li a {
    padding: 0;
    margin-left: 10px;
  }

  /* line 1454, ../scss/style.scss */
  #formSearch {
    width: 100%;
    margin: 20px 0 0 0;
  }
  /* line 1458, ../scss/style.scss */
  #formSearch .cityRounded {
    width: 100%;
    margin: 0;
    padding: 20px 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
  }
  /* line 1464, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs {
    padding: 0;
    width: 67%;
  }
  /* line 1467, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerCityName {
    width: 75%;
  }
  /* line 1470, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerCityName #cityName {
    height: 40px;
    padding-left: 15px;
    font-size: 28px;
    font-size: 2.8rem;
  }
  /* line 1475, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerCityName .twitter-typeahead .tt-hint {
    font-size: 28px;
    font-size: 2.8rem;
  }
  /* line 1479, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerExtend {
    width: 25%;
    top: 30%;
  }
  /* line 1486, ../scss/style.scss */
  #formSearch .cityRounded .citySubmit .ws-icon-loupe {
    font-size: 30px;
    font-size: 3rem;
  }
  /* line 1488, ../scss/style.scss */
  #formSearch .cityRounded .cityAriane {
    width: 65%;
    font-size: 10px;
    font-size: 1rem;
  }
  /* line 1493, ../scss/style.scss */
  #formSearch .sportCheckboxs {
    display: none;
  }
  /* line 1494, ../scss/style.scss */
  #formSearch .sportSelect {
    display: block;
    width: 100%;
    padding: 0 10%;
    margin: 30px 0 0 0;
  }
  /* line 1500, ../scss/style.scss */
  #formSearch .sportSelect label {
    font-size: 14px;
    font-size: 1.4rem;
  }

  /* line 1507, ../scss/style.scss */
  .connexion .container {
    width: 100%;
  }
  /* line 1509, ../scss/style.scss */
  .connexion .container .form-ws {
    width: 100%;
  }
  /* line 1511, ../scss/style.scss */
  .connexion .container .form-ws .control-submit {
    width: 100%;
  }

  /* line 1519, ../scss/style.scss */
  .register .container {
    width: 100%;
  }
  /* line 1521, ../scss/style.scss */
  .register .container .form-ws {
    width: 100%;
    float: right;
  }
  /* line 1525, ../scss/style.scss */
  .register .container .form-facebook {
    width: 100%;
    float: left;
  }

  /* line 1533, ../scss/style.scss */
  .createEvent .container {
    width: 100%;
  }
  /* line 1535, ../scss/style.scss */
  .createEvent .container .col_large {
    width: 100%;
    padding: 0;
  }
  /* line 1539, ../scss/style.scss */
  .createEvent .container .col_large .control-group .control-label {
    width: 25%;
  }
  /* line 1546, ../scss/style.scss */
  .createEvent .container .col_small {
    width: 100%;
    padding: 0;
  }

  /* line 1554, ../scss/style.scss */
  .viewevent .container {
    width: 100%;
  }
  /* line 1557, ../scss/style.scss */
  .viewevent .container .event-header .event-title {
    width: auto;
  }
  /* line 1559, ../scss/style.scss */
  .viewevent .container .event-header .event-title h1 {
    font-size: 26px;
    font-size: 2.6rem;
  }
  /* line 1561, ../scss/style.scss */
  .viewevent .container .event-header .event-title h1 .event-sport-logo {
    padding: 0;
    font-size: 40px;
    font-size: 4rem;
  }
  /* line 1567, ../scss/style.scss */
  .viewevent .container .event-header .event-orga {
    float: left;
    width: 100%;
  }
  /* line 1570, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-avatar {
    display: none;
  }
  /* line 1573, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-info {
    float: left;
    text-align: left;
  }
  /* line 1576, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-info span {
    display: inline-block;
    width: auto;
  }
  /* line 1580, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-info span.orga-name {
    font-size: 12px;
    font-size: 1.2rem;
  }
  /* line 1583, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-info span.orga-age {
    font-size: 10px;
    font-size: 1rem;
  }
  /* line 1586, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-info small {
    font-size: 12px;
    font-size: 1.2rem;
  }
  /* line 1594, ../scss/style.scss */
  .viewevent .container .event-action-bar .event-action {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
  }
  /* line 1599, ../scss/style.scss */
  .viewevent .container .event-action-bar .event-action .btn-ws {
    padding: 10px 20px;
  }
  /* line 1603, ../scss/style.scss */
  .viewevent .container .event-action-bar .event-status {
    float: left;
    margin-top: 2px;
  }
  /* line 1609, ../scss/style.scss */
  .viewevent .container .col_large {
    width: 100%;
    padding: 10px 1%;
  }
  /* line 1612, ../scss/style.scss */
  .viewevent .container .col_large .event-info {
    margin-bottom: 0;
    line-height: 150%;
    font-size: 20px;
    font-size: 2rem;
  }
  /* line 1619, ../scss/style.scss */
  .viewevent .container .col_small {
    width: 100%;
    padding: 0;
    margin-top: 50px;
  }
  /* line 1623, ../scss/style.scss */
  .viewevent .container .col_small #eventmap {
    width: 100%;
  }

  /* line 1632, ../scss/style.scss */
  .viewuser .container {
    width: 100%;
  }
  /* line 1635, ../scss/style.scss */
  .viewuser .container .user-header .user-avatar {
    width: 100px;
  }
  /* line 1639, ../scss/style.scss */
  .viewuser .container .user-header .user-login h1 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 0;
  }
  /* line 1643, ../scss/style.scss */
  .viewuser .container .user-header .user-login span {
    font-size: 10px;
    font-size: 1rem;
  }
  /* line 1649, ../scss/style.scss */
  .viewuser .container .user-status .count_activity {
    float: left;
    width: auto;
    margin-right: 10px;
  }
  /* line 1654, ../scss/style.scss */
  .viewuser .container .user-status .which_activity {
    float: left;
    width: auto;
  }
  /* line 1659, ../scss/style.scss */
  .viewuser .container .col_large {
    width: 100%;
    margin-top: 20px;
    padding: 0 2%;
  }
  /* line 1664, ../scss/style.scss */
  .viewuser .container .col_small {
    width: 100%;
    margin-top: 20px;
    padding: 0 2%;
  }

  /* line 1673, ../scss/style.scss */
  #account .container {
    width: 100%;
  }
  /* line 1675, ../scss/style.scss */
  #account .container .col_small {
    width: 100%;
    padding: 10px 5px;
  }
  /* line 1679, ../scss/style.scss */
  #account .container .col_large {
    width: 100%;
    padding: 0 5px;
  }
  /* line 1682, ../scss/style.scss */
  #account .container .col_large #account-form {
    padding: 0 5px;
    margin-top: 0;
  }
  /* line 1683, ../scss/style.scss */
  #account .container .col_large #account-form h2 {
    text-align: center;
    font-size: 25px;
    font-size: 2.5rem;
  }

  /* line 1695, ../scss/style.scss */
  .footer .container {
    width: 100%;
  }
  /* line 1697, ../scss/style.scss */
  .footer .container ul {
    margin-left: 0;
  }
  /* line 1699, ../scss/style.scss */
  .footer .container ul li {
    display: block;
    width: 100%;
  }
  /* line 1702, ../scss/style.scss */
  .footer .container ul li a {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
/* very small smartphone */
@media only screen and (max-width: 240px) {
  /* line 1713, ../scss/style.scss */
  #formSearch .cityRounded {
    padding-right: 0;
    padding-left: 0;
  }
  /* line 1718, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerCityName #cityName {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 25px;
    font-size: 2.5rem;
  }
  /* line 1725, ../scss/style.scss */
  #formSearch .cityRounded .cityInputs .containerExtend {
    display: none;
  }
  /* line 1730, ../scss/style.scss */
  #formSearch .cityRounded .citySubmit .ws-icon-loupe {
    font-size: 20px;
    font-size: 2rem;
  }
  /* line 1732, ../scss/style.scss */
  #formSearch .cityRounded .cityAriane {
    width: 60%;
  }
}
/* Smartphones landscape and Tablets portrait */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 1743, ../scss/style.scss */
  .navbar {
    padding: 0 1%;
  }
  /* line 1745, ../scss/style.scss */
  .navbar .weSport {
    padding: 0;
    margin-right: 20px;
  }
  /* line 1746, ../scss/style.scss */
  .navbar .desktopMenu {
    display: none;
  }
  /* line 1747, ../scss/style.scss */
  .navbar .mobileMenu {
    display: block;
  }

  /* line 1749, ../scss/style.scss */
  #formSearch {
    width: 100%;
    margin: 40px 0 0 0;
  }
  /* line 1752, ../scss/style.scss */
  #formSearch .cityRounded {
    width: 80%;
    margin: 0 10%;
  }
  /* line 1759, ../scss/style.scss */
  #formSearch .sportCheckboxs .sportChoice label span {
    font-size: 25px;
    font-size: 2.5rem;
  }
  /* line 1760, ../scss/style.scss */
  #formSearch .sportCheckboxs .sportChoice label span {
    font-size: 35px;
    font-size: 3.5rem;
  }

  /* line 1766, ../scss/style.scss */
  .connexion .container {
    width: 90%;
    margin: 0 5%;
  }
  /* line 1769, ../scss/style.scss */
  .connexion .container .form-ws {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  /* line 1772, ../scss/style.scss */
  .connexion .container .form-ws .control-submit {
    width: 100%;
  }

  /* line 1780, ../scss/style.scss */
  .register .container {
    width: 90%;
    margin: 0 5%;
  }

  /* line 1787, ../scss/style.scss */
  .createEvent .container {
    width: 90%;
    margin: 0 5%;
  }
  /* line 1790, ../scss/style.scss */
  .createEvent .container .col_large {
    width: 100%;
    padding: 0;
  }
  /* line 1794, ../scss/style.scss */
  .createEvent .container .col_large .control-group .control-label {
    width: 15%;
  }
  /* line 1801, ../scss/style.scss */
  .createEvent .container .col_small {
    width: 60%;
    margin: 0 20%;
    padding: 0;
  }

  /* line 1809, ../scss/style.scss */
  .viewevent .container {
    width: 94%;
    margin: 0 3%;
  }
  /* line 1815, ../scss/style.scss */
  .viewevent .container .event-header .event-orga .orga-avatar img {
    height: 70px;
  }
  /* line 1820, ../scss/style.scss */
  .viewevent .container .col_small {
    width: 100%;
    padding: 50px 10% 50px 10%;
  }
  /* line 1825, ../scss/style.scss */
  .viewevent .container .col_small .block .block-content {
    padding: 15px;
  }
  /* line 1830, ../scss/style.scss */
  .viewevent .container .col_small .event-participants .event-participant-avatar {
    width: 70px;
    height: 70px;
  }
  /* line 1834, ../scss/style.scss */
  .viewevent .container .col_small .event-participants strong {
    font-size: 17px;
    font-size: 1.7rem;
  }
  /* line 1837, ../scss/style.scss */
  .viewevent .container .col_small .event-participants small {
    font-size: 14px;
    font-size: 1.4rem;
  }
  /* line 1843, ../scss/style.scss */
  .viewevent .container .col_small .event-reviews ul li {
    font-size: 18px;
    font-size: 1.8rem;
  }
  /* line 1845, ../scss/style.scss */
  .viewevent .container .col_small .event-reviews ul li img {
    width: 60px;
    height: 60px;
  }
  /* line 1852, ../scss/style.scss */
  .viewevent .container .col_small .event-reviews a {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 1862, ../scss/style.scss */
  .viewuser .container {
    width: 94%;
    padding: 0 3%;
  }
  /* line 1868, ../scss/style.scss */
  .viewuser .col_large {
    width: 100%;
    padding: 20px 10%;
  }
  /* line 1872, ../scss/style.scss */
  .viewuser .col_small {
    width: 100%;
    padding: 20px 10%;
  }

  /* line 1879, ../scss/style.scss */
  #account .container {
    width: 94%;
    margin: 0 3%;
  }
  /* line 1882, ../scss/style.scss */
  #account .container .col_small {
    width: 100%;
    padding: 20px 15%;
  }
  /* line 1886, ../scss/style.scss */
  #account .container .col_large {
    width: 100%;
    padding: 0 5%;
  }

  /* line 1894, ../scss/style.scss */
  .footer .container {
    width: 100%;
  }
  /* line 1896, ../scss/style.scss */
  .footer .container ul {
    margin-left: 0;
  }
  /* line 1898, ../scss/style.scss */
  .footer .container ul li {
    display: inline-block;
    width: auto;
    margin: 0 10px;
  }
}
/* Tablets landscape and Small computer----------- */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  /* line 1912, ../scss/style.scss */
  .navbar {
    padding: 0 1%;
  }
  /* line 1914, ../scss/style.scss */
  .navbar .weSport {
    padding: 0;
    padding-left: 10px;
    margin-right: 20px;
  }
  /* line 1918, ../scss/style.scss */
  .navbar .nav li a {
    padding: 0 15px;
  }

  /* line 1922, ../scss/style.scss */
  #formSearch {
    width: 100%;
  }
  /* line 1924, ../scss/style.scss */
  #formSearch .cityRounded {
    width: 70%;
    margin: 0 15%;
  }
  /* line 1930, ../scss/style.scss */
  #formSearch .sportCheckboxs .sportChoice label span {
    font-size: 30px;
    font-size: 3rem;
  }

  /* line 1935, ../scss/style.scss */
  .connexion .container {
    width: 100%;
  }
}
