<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
</head>
    <body>
        <p>            
            {message}
        </p>
        <p>
            <strong>{user}</strong> a laisse le message précédant via le formulaire de contact :
            <br />
            Date :{date}
            <br />
            Titre : {title}
            <br />
            User : {user}
            <br />
            Mail : {user_mail}
        </p>
        
   
        <p>&nbsp;</p>
    </body>
</html>