<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Contact</title>
</head>
    <body>
        <p>
            <strong>{name}</strong> a laisse le message suivant via le formulaire de contact :
            <br />
            Titre : <strong>{title}</strong>
            <br />
            Date :{date}
        </p>
        <p>            
            {message}
        </p>
   
        <p>&nbsp;</p>
    </body>
</html>