<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
</head>
    <body>
        <p>
            {user} a répondu à votre commentaire concernant l'activité <a href="{lien}" style="text-decoration:none"><strong>{title}</strong></a>
            <br />
        </p>
        <p>
            {comment}            
        </p>
        <p>
            <a href="{lien}">Cliquez-ici pour accéder aux commentaires</a>
        </p>    
        <p>&nbsp;</p>
    </body>
</html>