<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>L'activité a été modifiée</title>
</head>
    <body>
        <p>
            L'activité <a href="{lien}" style="text-decoration:none"><strong>{title}</strong></a> a été modifiée par son organisateur :
            <br />
        </p>
        <p>
            Les modifications sont les suivantes :
            <br />
            {content}
        </p>
        <p>
            Vous pouvez retrouver cette activité à <a href="{lien}">cette adresse</a>
        </p>    
        <p>&nbsp;</p>
    </body>
</html>