<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>L'événement est suspendu !</title>
</head>
    <body>
        <p>
            L'événement <a href="{lien}" style="text-decoration:none"><strong>{title}</strong></a> est suspendu parsqu'il manque des participants...
            <br />
        </p>
        <p>
            Rappel:            
            <br />
            Date : <strong>{date}</strong><br />
            Heure : <strong>{time}</strong><br />
            Ville : <strong>{ville}</strong><br />
        </p>
        <p>
            Vous pouvez retrouver cet événement à <a href="{lien}">cet adresse</a>
        </p>    
        <p>&nbsp;</p>
    </body>
</html>