<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Un événement a changé</title>
</head>
    <body>
        <p>
            L'événement <strong>{title}</strong> a été supprimé par son organisateur :
            <br />
            Ville: <strong>{ville}</strong>
            <br />
            Date: <strong>{date}</strong>
            <br />
            Heure: <strong>{time}</strong>
        </p>
       
        <p>
           Maintenant, à vous de <a href="{lien}">créer</a> un événement !
        </p>    
        <p>&nbsp;</p>
    </body>
</html>