<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>{subject}</title>
</head>
    <body>
        <p>
            Vous avez passé un bon moment ? <br />
            Laisser votre avis sur l'activité <a href="{eventlink}" style="text-decoration:none"><strong>{title}</strong></a>, ça fera plaisir à son organisateur ;)
            <br />
        </p>
        <p>
            A plus tard !
        </p>
        <i><b>{site}</b></i>
    </body>
</html>