<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Nouveau participant !</title>
</head>
    <body>
        <p>
            Bonjour <strong>{author}</strong>,
            <br />
        </p>
        <p>
            {sporter} participe à votre événement <a href="{eventlink}" style="text-decoration:none">{title}</a> !
        </p>
        <p>
            Vous pouvez voir sa fiche à <a href="{sporterlink}">cet adresse</a>
        </p>    
        <p>&nbsp;</p>
    </body>
</html>