<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Daily</title>
</head>
    <body>
        <p>
            <strong>Hello boys,</strong>
        </p>
        <p>
            <strong>Today we had:</strong>
            <ul>
                <li>{registration} registration</li>
                <li>{events_deposed} events deposed</li>
                <li>{events_planned} events planned ( {events_confirmed} confirmed )</li>  
            </ul>
        </p>

        <p>
            <strong>May the sport be with you !</strong>
        </p>
            
        
    </body>
</html>